/*--------------------*/
/* - FONTS            */
/*--------------------*/
@font-face {font-family: "TT Commons";src: url("../fonts/TTCommons-Regular.woff2") format("woff2"),url("../fonts/TTCommons-Regular.woff") format("woff");font-weight: normal;font-style: normal;font-display: swap;}
@font-face {font-family: "TT Commons";src: url("../fonts/TTCommons-Light.woff2") format("woff2"),url("../fonts/TTCommons-Light.woff") format("woff");font-weight: 300;font-style: normal;font-display: swap;}
@font-face {font-family: "TT Commons";src: url("../fonts/TTCommons-Medium.woff2") format("woff2"),url("../fonts/TTCommons-Medium.woff") format("woff");font-weight: 500;font-style: normal;font-display: swap;}
@font-face {font-family: "TT Commons";src: url("../fonts/TTCommons-DemiBold.woff2") format("woff2"),url("../fonts/TTCommons-DemiBold.woff") format("woff");font-weight: 600;font-style: normal;font-display: swap;}
@font-face {font-family: "TT Commons";src: url("../fonts/TTCommons-ExtraBold.woff2") format("woff2"),url("../fonts/TTCommons-ExtraBold.woff") format("woff");font-weight: 800;font-style: normal;font-display: swap;}
@font-face {font-family: "SF UI Display";src: url("../fonts/SFUIDisplay-Heavy.woff2") format("woff2"),url("../fonts/SFUIDisplay-Heavy.woff") format("woff");font-weight: 800;font-style: normal;font-display: swap;}
/*--------------------*/
/* - CUSTOM PRELOADER */
/*--------------------*/
#loader-wrapper {position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 999;background-color: var(--clr-white);-webkit-animation: loader 0.7s linear;animation: loader 0.7s linear;-webkit-animation-iteration-count: 1;animation-iteration-count: 1;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}
@-webkit-keyframes loader {
0% {opacity: 1;}
70% {opacity: 1;}
99% {opacity: 0;}
100% {display: none;visibility: hidden;z-index: -10;opacity: 0;}
}
@keyframes loader {
0% {opacity: 1;}
70% {opacity: 1;}
99% {opacity: 0;}
100% {display: none;visibility: hidden;z-index: -10;opacity: 0;}
}
/*--------------------*/
/* - RESET */
/*--------------------*/
html {overflow-y: scroll;}
*,
*:before,
*:after {-webkit-box-sizing: border-box;box-sizing: border-box;}
* {margin: 0;padding: 0;border: 0;font-size: 100%;line-height: 0;font: inherit;vertical-align: baseline;-webkit-text-size-adjust: none;-webkit-locale: auto;}
.clear {clear: both;overflow: hidden;height: 0;font-size: 0;display: block;}
html:not(.touch-screen)::-webkit-scrollbar,
html:not(.touch-screen) *::-webkit-scrollbar {width: 6px;height: 6px;}
html:not(.touch-screen)::-webkit-scrollbar-track,
html:not(.touch-screen) *::-webkit-scrollbar-track {background: var(--clr-grey);}
html:not(.touch-screen)::-webkit-scrollbar-thumb,
html:not(.touch-screen) *::-webkit-scrollbar-thumb {background: var(--clr-red);}
:focus,
:hover,
:active,
:visited {outline: none;}
button {background: none;}
body ::-moz-selection {color: var(--clr-white);background: var(--clr-red);}
body ::selection {color: var(--clr-white);background: var(--clr-red);}
a {display: inline-block;text-decoration: none;cursor: pointer;outline: none;color: inherit;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
a:hover {text-decoration: none;}
ul,
ol {list-style: none;}
picture {font-size: 0;}
img {max-width: 100%;height: auto;}
/*--------------------*/
/* - GLOBAL SETTINGS  */
/*--------------------*/
:root {--ff-1: "TT Commons",sans-serif;--ff-2: "SF UI Display",sans-serif;--h-1: 80px;--h-2: 50px;--h-3: 46px;--h-4: 38px;--h-5: 26px;--h-6: 22px;--clr-title: #232323;--clr-text: #424242;--clr-text2: #959595;--clr-plc: #626262;--clr-white: #ffffff;--clr-black: #232323;--clr-red: #E70000;--clr-grey: #e1e1e1;--clr-grey2: #e4e4e4;--clr-grey3: #f8f8f8;--clr-grey4: #DADADA;--clr-grey5: #989898;--bg-black1: #252525;--bg-black2: #202020;--bg-black3: #181818;--transition-1: 0.3s;--transition-2: 0.6s;}
html {height: auto;-webkit-font-smoothing: antialiased;}
html.keyboard-focus:focus {outline: auto;}
body {height: auto;background-color: var(--clr-white);scroll-behavior: smooth;}
#content-block {position: relative;min-height: 100vh;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
footer {margin-top: auto;}
.overflow-hidden,
html.overflow-hidden body {overflow: hidden;}
html.overflow-menu,
html.overflow-menu body {overflow: hidden;}
html.overflow-visible #content-block {overflow: visible;}
main > .section:first-child:not(.banner),
main > .section.sec-breadcrumbs:first-child + .section {margin-top: 100px;}
main > .section.sec-breadcrumbs:first-child,
main > .section.sec-breadcrumbs:first-child + .section.project-banner {margin-top: 0;}
.section {position: relative;}
.section.inner-padd {padding: 180px 0;margin-bottom: 180px;}
.section.black-sec {background: var(--clr-black);}
[class*=spacer] {clear: both;width: 100% !important;}
.spacer-xl {height: 180px;}
.spacer-lg {height: 140px;}
.spacer-md {height: 100px;}
.spacer-sm {height: 60px;}
.spacer-xs {height: 30px;}
.swiper-slide:not(:first-child) {display: block;}
.swiper-container {opacity: 0;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.swiper-container.swiper-initialized {opacity: 1;}
.popup-wrapper {display: none;}
.row {--bs-gutter-x: 30px;}
.container {padding: 0 15px;margin-right: auto;margin-left: auto;width: 90%;}
.container-fluid {padding-inline: 70px;}
@media (min-width: 1200px) {
.container {max-width: 1280px;}
}
@media (min-width: 1640px) {
.container {max-width: 1600px;}
}
@media (max-width: 1639px) {
.spacer-xl {height: 130px;}
.section.inner-padd {padding: 130px 0;margin-bottom: 130px;}
main > .section:first-child:not(.banner),
main > .section.sec-breadcrumbs:first-child + .section {margin-top: 70px;}
main > .section.sec-breadcrumbs:first-child {margin-top: 0;}
}
@media (max-width: 1560px) {
:root {--h-1: 62px;--h-2: 42px;--h-3: 34px;--h-4: 30px;--h-5: 22px;--h-6: 19px;}
.container-fluid {padding-inline: 50px;}
.spacer-xl {height: 100px;}
.section.inner-padd {margin-bottom: 100px;}
.spacer-lg {height: 100px;}
.spacer-md {height: 50px;}
.spacer-sm {height: 40px;}
.spacer-xs {height: 25px;}
}
@media (max-width: 1440px) {
.container-fluid {padding-inline: 30px;}
}
@media (max-width: 1199px) {
:root {--h-1: 32px;--h-2: 24px;--h-3: 24px;--h-4: 30px;}
#content-block {overflow: hidden;}
.container-fluid {padding-inline: 15px;}
.container {width: 100%;}
.spacer-xl {height: 50px;}
.section.inner-padd {margin-bottom: 50px;}
main > .section:first-child:not(.banner),
main > .section.sec-breadcrumbs:first-child + .section {margin-top: 30px;}
main > .section.sec-breadcrumbs:first-child {margin-top: 0;}
}
@media (max-width: 991px) {
:root {--h-1: 36px;--h-2: 28px;--h-3: 26px;--h-4: 20px;--h-5: 18px;--h-6: 16px;}
.section.inner-padd {padding: 90px 0;}
}
@media (max-width: 767px) {
:root {--h-1: 32px;--h-2: 24px;--h-3: 22px;}
.spacer-xl {height: 70px;}
.section.inner-padd {padding: 50px 0;margin-bottom: 70px;}
.spacer-lg,
.spacer-md {height: 50px;}
.spacer-sm {height: 40px;}
}
/*--------------------*/
/* - HEADER           */
/*--------------------*/
:root {--h-height: 100px;--h-info-height: 50px;}
header {height: var(--h-height);}
.header-wrap {position: fixed;z-index: 100;top: 0;left: 0;width: 100%;background-color: var(--clr-white);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.header-wrap.scrolled {-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.02);box-shadow: 0 5px 10px rgba(0, 0, 0, 0.02);}
.header-informer {position: fixed;bottom: 0;left: 0;width: 100%;height: var(--h-info-height);text-align: center;padding-block: 8px;-webkit-transition: -webkit-transform var(--transition-1);transition: -webkit-transform var(--transition-1);transition: transform var(--transition-1);transition: transform var(--transition-1),-webkit-transform var(--transition-1);}
.header-informer.hide-informer {-webkit-transform: translateY(100%);transform: translateY(100%);}
.header-informer::before {content: "";position: absolute;z-index: -1;top: 0;left: 50%;height: 100%;width: 150%;-webkit-transform: translateX(-50%);transform: translateX(-50%);background-color: var(--clr-grey3);}
.header-informer.text > * {display: inline;vertical-align: middle;margin-bottom: 0;}
.header-informer.text img {margin-right: 15px;max-width: 35px;}
.header-informer.text b {margin-right: 25px;font-weight: 300;}
.header-informer.text a {display: inline-block !important;text-transform: uppercase;color: var(--clr-red) !important;font-weight: 600 !important;font-size: 14px;line-height: 1em;margin-top: 2px;letter-spacing: 0.12em;margin-top: 4px;background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #ffd700), color-stop(50%, #0A489D));background: linear-gradient(to top, #ffd700 60%, #0A489D 50%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.header-informer .btn-close {position: absolute;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);right: 15px;margin: 0 !important;}
.header-wrap-inner {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;height: var(--h-height);}
.header-wrap-left {position: relative;z-index: 4;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.header-logo {-ms-flex-negative: 0;flex-shrink: 0;width: 180px;}
.header-logo img {position: absolute;left: 0;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);width: 180px;display: block;line-height: 0;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.header-logo img:first-child {-webkit-transition-delay: 1.2s;transition-delay: 1.2s;}
.header-logo img:last-child {opacity: 0;-webkit-transition-delay: 1.2s;transition-delay: 1.2s;}
.btn-burger {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;cursor: pointer;color: var(--clr-black);margin-left: 80px;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.burger {position: relative;display: inline-block;width: 24px;height: 14px;color: currentColor;}
.burger i {position: absolute;left: 0;top: 6px;width: 100%;height: 2px;background-color: currentColor;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.burger::before,
.burger::after {content: "";position: absolute;height: 2px;width: 50%;background-color: currentColor;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.burger::before {top: 0;left: 0;}
.burger::after {right: 0;bottom: 0;}
.burger-word {margin-left: 20px;margin-top: 3px;font-weight: 400;font-size: 14px;line-height: 0;letter-spacing: 0.05em;text-transform: uppercase;color: currentColor;}
.burger-word b {font-weight: inherit;color: currentColor;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.burger-word b:first-child {display: block;}
.burger-word b:last-child {opacity: 0;visibility: hidden;}
.header-wrap-center {position: relative;z-index: 0;}
.header-wrap-center ul {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-align: center;-ms-flex-align: center;align-items: center;margin: 0 -30px -15px;}
.header-wrap-center li {margin: 0 30px 15px;}
.header-wrap-center a {font-weight: 400;font-size: 14px;line-height: 1.1em;color: var(--clr-black);letter-spacing: 0.05em;text-transform: uppercase;}
.header-wrap-right {position: relative;z-index: 0;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-ms-flex-negative: 0;flex-shrink: 0;}
.header-phone {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;font-weight: 500;font-size: 18px;line-height: 1em;margin-right: 30px;letter-spacing: 0.05em;color: var(--clr-black);}
.header-phone svg {color: inherit;}
.header-phone svg path {fill: currentColor;stroke: currentColor;}
.header-phone b {margin-left: 10px;margin-top: 1px;}
.header-menu {position: fixed;z-index: 3;inset: 0;display: -webkit-box;display: -ms-flexbox;display: flex;background-color: var(--bg-black1);will-change: transform;-webkit-transform: translateY(-100%);transform: translateY(-100%);-webkit-transition: -webkit-transform 0.5s;transition: -webkit-transform 0.5s;transition: transform 0.5s;transition: transform 0.5s,-webkit-transform 0.5s;-webkit-transition-delay: 1s;transition-delay: 1s;}
.header-menu-left {width: 69%;}
.header-menu-left > * {height: 100%;}
.header-menu-left-inner {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;height: 100%;line-height: 0;}
.header-menu-left-inner .social {margin-bottom: 50px;opacity: 0;-webkit-transition: opacity 0.6s;transition: opacity 0.6s;-webkit-transition-delay: 0.5s;transition-delay: 0.5s;}
.header-lang {display: -webkit-box;display: -ms-flexbox;display: flex;margin-top: calc(var(--h-height) / 2 - 5px);margin-right: 50px;margin-left: auto;}
.header-lang li {margin-right: 15px;}
.header-lang li:last-child {margin-right: 0;}
.header-lang a {font-size: 14px;font-weight: 400;line-height: 1;letter-spacing: 0.05em;text-transform: uppercase;color: var(--clr-white);}
.header-lang a.current {color: var(--clr-red);}
.header-mega-menu {margin: auto 0;width: 100%;--items-mb: 60px;opacity: 0;-webkit-transform: translateY(20%);transform: translateY(20%);-webkit-transition: opacity 0.6s,-webkit-transform 0.6s;transition: opacity 0.6s,-webkit-transform 0.6s;transition: opacity 0.6s,transform 0.6s;transition: opacity 0.6s,transform 0.6s,-webkit-transform 0.6s;-webkit-transition-delay: 0.5s;transition-delay: 0.5s;}
.header-mega-menu ul {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;height: calc(var(--items) * (var(--h-3) + var(--items-mb)));margin-bottom: calc(-1 * var(--items-mb));}
.header-mega-menu li {width: 50%;margin-bottom: var(--items-mb);}
.header-mega-menu a,
.header-mega-menu b {display: inline-block;cursor: pointer;font-size: var(--h-3);font-weight: 400;line-height: 1em;color: var(--clr-white);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.has-submenu > b {position: relative;}
.has-submenu > b:before {content: "";position: absolute;top: 50%;right: -25px;-webkit-transform: translateY(-50%) rotate(45deg);transform: translateY(-50%) rotate(45deg);width: 7px;height: 7px;border-right: 2px solid currentColor;border-bottom: 2px solid currentColor;margin-top: -2px;}
.submenu {position: absolute;z-index: 1;inset: 0;background-color: var(--bg-black1);opacity: 0;visibility: hidden;}
.has-submenu.active .submenu {opacity: 1;visibility: visible;-webkit-transition: opacity 0.3s;transition: opacity 0.3s;}
.submenu-close {cursor: pointer;position: absolute;left: 0;top: -100px;width: 56px;height: 56px;display: -webkit-box;display: -ms-flexbox;display: flex;border-radius: 100%;border: 1px solid var(--clr-text2);-webkit-transition: all var(--transition-1);transition: all var(--transition-1);}
.submenu-close i {display: inline-block;position: relative;width: 24px;height: 16px;margin: auto;color: var(--clr-text2);-webkit-transition: all var(--transition-1);transition: all var(--transition-1);}
.submenu-close i::before {content: "";position: absolute;left: 1px;top: 50%;width: 12px;height: 12px;border-bottom: 3px solid currentColor;border-left: 3px solid currentColor;-webkit-transform: translateY(-50%) rotate(45deg);transform: translateY(-50%) rotate(45deg);}
.submenu-close i::after {content: "";position: absolute;left: 0;top: 50%;width: 100%;height: 3px;background-color: currentColor;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
.header-menu-right {width: 31%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
.header-menu-right > * {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;height: 50%;overflow: hidden;-webkit-clip-path: inset(0 0 100% 0);clip-path: inset(0 0 100% 0);}
.header-menu-right-top {background-color: var(--bg-black3);-webkit-transition: -webkit-clip-path 0.8s;transition: -webkit-clip-path 0.8s;transition: clip-path 0.8s;transition: clip-path 0.8s,-webkit-clip-path 0.8s;-webkit-transition-delay: 0.8s;transition-delay: 0.8s;}
.header-menu-right-bottom {background-color: var(--bg-black2);-webkit-transition: -webkit-clip-path 0.8s;transition: -webkit-clip-path 0.8s;transition: clip-path 0.8s;transition: clip-path 0.8s,-webkit-clip-path 0.8s;-webkit-transition-delay: 0s;transition-delay: 0s;}
.header-menu-right-bottom > *:not(.btn) {font-size: 22px;line-height: 1.4em;font-weight: 300;color: var(--clr-text2);margin-bottom: 20px;text-align: center;}
.open-menu .header-logo img:first-child {opacity: 0;}
.open-menu .header-logo img:last-child {opacity: 1;-webkit-transition-delay: 0s;transition-delay: 0s;}
.open-menu .header-menu {-webkit-transform: translateY(0%);transform: translateY(0%);-webkit-transition-delay: 0s;transition-delay: 0s;}
.open-menu .btn-burger:not(:hover) {color: var(--clr-white);}
.open-menu .btn-burger.is-active .burger-word b:first-child {opacity: 0;visibility: hidden;}
.open-menu .btn-burger.is-active .burger-word b:last-child {opacity: 1;visibility: visible;}
.open-menu .burger i {opacity: 0;}
.open-menu .burger::before {width: 100%;top: 6px;-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.open-menu .burger::after {width: 100%;bottom: 6px;-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}
.open-menu .header-menu-left-inner .social {opacity: 1;-webkit-transition: opacity 0.6s;transition: opacity 0.6s;-webkit-transition-delay: 0.5s;transition-delay: 0.5s;}
.open-menu .header-mega-menu {opacity: 1;-webkit-transform: translateY(0%);transform: translateY(0%);-webkit-transition: opacity 0.6s,-webkit-transform 0s;transition: opacity 0.6s,-webkit-transform 0s;transition: opacity 0.6s,transform 0s;transition: opacity 0.6s,transform 0s,-webkit-transform 0s;-webkit-transition-delay: 0.5s;transition-delay: 0.5s;}
.open-menu .header-menu-right-top {-webkit-clip-path: inset(0 0 0 0);clip-path: inset(0 0 0 0);-webkit-transition-delay: 0.3s;transition-delay: 0.3s;}
.open-menu .header-menu-right-bottom {-webkit-clip-path: inset(0 0 0 0);clip-path: inset(0 0 0 0);-webkit-transition-delay: 1.1s;transition-delay: 1.1s;}
@media (min-width: 1200px) {
.btn-burger:hover {color: var(--clr-red);}
.btn-burger:hover .burger::before,
.btn-burger:hover .burger::after {width: 100%;}
.header-wrap-center a:hover {color: var(--clr-red);}
.header-lang a:hover {color: var(--clr-red);}
.header-phone:hover {color: var(--clr-red);}
.header-mega-menu a:hover,
.header-mega-menu .has-submenu > b:hover {color: var(--clr-red);}
.submenu-close:hover {background-color: var(--clr-red);border-color: var(--clr-red);}
.submenu-close:hover i {color: var(--clr-white);}
}
@media (max-width: 1560px) {
:root {--h-height: 80px;--h-info-height: 40px;}
.header-informer {padding-block: 7px;}
.header-informer.text img {max-width: 25px;}
.header-logo {width: 140px;}
.header-logo img {width: 140px;}
.btn-burger {margin-left: 40px;}
.burger-word {margin-left: 15px;}
.header-wrap-center ul {margin: 0 -15px -15px;}
.header-wrap-center li {margin: 0 15px 15px;}
.header-menu-left-inner .social {margin-bottom: 30px;}
.header-lang {margin-right: 20px;}
.header-mega-menu {--items-mb: 40px;}
.submenu-close {top: -80px;width: 46px;height: 46px;}
.submenu-close i {width: 20px;height: 14px;}
.submenu-close i::before {width: 10px;height: 10px;}
.header-menu-right-bottom > *:not(.btn) {font-size: 18px;margin-bottom: 15px;}
}
@media (max-width: 1199px) {
:root {--h-height: 60px;}
.header-wrap-center {display: none;}
.header-mega-menu {--items-mb: 20px;}
.header-menu-left {width: 65%;}
.header-menu-right {width: 35%;}
.submenu-close {top: -80px;width: 46px;height: 46px;}
.submenu-close i {width: 20px;height: 14px;}
.submenu-close i::before {width: 10px;height: 10px;}
.submenu-close {top: -70px;}
}
@media (max-width: 991px) {
.header-wrap-left {width: 100%;height: 100%;-webkit-transition: 0.3s;transition: 0.3s;-webkit-transition-delay: 1s;transition-delay: 1s;}
.btn-burger {margin-left: auto;}
.header-phone {margin-right: 0;}
.header-phone b {display: none;}
.header-menu {overflow: auto;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;padding-top: var(--h-height);}
.header-menu > * {width: auto;}
.header-menu-right {margin-top: auto;}
.header-menu-right > * {padding: 30px 15px;height: auto;}
.header-menu-left-inner {-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.header-menu-left-inner .social {margin-top: 30px;}
.header-lang {margin: 30px 0;}
.header-lang,
.h-btn {opacity: 0;-webkit-transition: opacity 0.6s !important;transition: opacity 0.6s !important;-webkit-transition-delay: 0.5s !important;transition-delay: 0.5s !important;}
.header-mega-menu {margin: 30px 0;-webkit-transform: translateY(0%);transform: translateY(0%);-webkit-transition-delay: 0.5s;transition-delay: 0.5s;}
.header-mega-menu ul {display: block;height: 100%;text-align: center;}
.header-mega-menu li {width: 100%;}
.submenu {position: relative;background-color: transparent;opacity: 1;visibility: visible;display: none;}
.submenu ul {padding: 20px 0 50px;margin-top: 20px;font-size: var(--h-3);border-top: 1px solid var(--bg-black3);}
.submenu ul li:last-child {margin-bottom: 0;}
.submenu ul a {font-size: 80%;}
.submenu-close {display: none;}
.has-submenu.active .submenu {display: block;}
.open-menu .btn-burger {color: var(--clr-white);}
.open-menu .header-phone {display: none;}
.open-menu .header-wrap-left {background-color: var(--bg-black1);-webkit-transition-delay: 0.2s;transition-delay: 0.2s;}
.open-menu .header-lang,
.open-menu .h-btn {opacity: 1;}
}
@media (max-width: 767px) {
.header-informer.text b {display: none;}
}
/*--------------------*/
/* - BUTTONS          */
/*--------------------*/
.btn {display: inline-block;vertical-align: top;position: relative;cursor: pointer;z-index: 1;-ms-flex-negative: 0;flex-shrink: 0;font-size: 15px;line-height: 1.067em;font-weight: 600;letter-spacing: 0.15em;text-decoration: none;text-transform: uppercase;border: none;color: var(--clr-white);border: 1px solid var(--clr-red);background-color: var(--clr-red);padding: 19px 40px;overflow: hidden;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.btn b {display: inline-block;line-height: inherit;font-weight: inherit;color: currentColor;-webkit-transform: translateY(2px);transform: translateY(2px);}
.btn::before {content: "";display: block;z-index: -1;position: absolute;inset: -4px;background-color: var(--clr-white);-webkit-transition: -webkit-transform var(--transition-1);transition: -webkit-transform var(--transition-1);transition: transform var(--transition-1);transition: transform var(--transition-1),-webkit-transform var(--transition-1);-webkit-transform: translateY(100%);transform: translateY(100%);}
.btn-primary {color: var(--clr-red);border-color: var(--clr-red);background-color: transparent;}
.btn-primary::before {background-color: var(--clr-red);}
.btn-secondary {color: var(--clr-white);border-color: var(--clr-white);background-color: transparent;}
.btn-secondary::before {background-color: var(--clr-white);}
.btn-third {color: var(--clr-white);border-color: var(--clr-black);background-color: var(--clr-black);}
.btn-third::before {background-color: var(--clr-white);}
.btn-close {display: inline-block;position: relative;cursor: pointer;width: 24px;height: 24px;color: var(--clr-text);-webkit-transition: color var(--transition-1);transition: color var(--transition-1);}
.btn-close::before,
.btn-close::after {content: "";position: absolute;top: 50%;left: 50%;width: 70%;height: 2px;-webkit-transform: translate(-50%, -50%) rotate(45deg);transform: translate(-50%, -50%) rotate(45deg);background-color: currentColor;}
.btn-close::after {-webkit-transform: translate(-50%, -50%) rotate(-45deg);transform: translate(-50%, -50%) rotate(-45deg);}
.btn-scroll {position: absolute;bottom: 40px;left: 50%;cursor: pointer;-webkit-transform-origin: 0 0;transform-origin: 0 0;margin-right: -14px;-webkit-transform: rotate(90deg) translateX(-50%) translateY(-14px);transform: rotate(90deg) translateX(-50%) translateY(-14px);}
.round-btn-wrap {position: relative;max-width: 260px;width: 100%;aspect-ratio: 1;}
.round-btn-listener {cursor: pointer;position: relative;z-index: 10;width: 100%;height: 100%;}
.round-btn {display: block;position: absolute;inset: 0;z-index: 0;cursor: pointer;width: 100%;height: 100%;z-index: 1;-ms-flex-negative: 0;flex-shrink: 0;}
.round-btn .circle {position: absolute;z-index: -1;left: 50%;top: 50%;width: 100%;height: 100%;border: 1px solid var(--clr-red);border-radius: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.round-btn .name {position: absolute;z-index: -1;left: 50%;top: 50%;font-size: 18px;display: block;pointer-events: none;line-height: 1.56;padding: 70px 0 0 45px;width: 100%;height: 100%;text-align: left;text-transform: uppercase;color: var(--clr-red);font-weight: 600;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.round-btn .arr {position: absolute;right: 65px;bottom: 76px;width: 24px;height: 17px;fill: var(--clr-red);}
.btn-link {font-size: 15px;color: var(--clr-red);font-weight: 600;text-transform: uppercase;letter-spacing: 0.1em;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.btn-link svg {position: relative;margin-left: 20px;top: 2px;width: 7px;height: 12px;stroke: currentColor;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
@media (min-width: 1200px) {
.btn:hover {color: var(--clr-red);}
.btn:hover::before {-webkit-transform: translateY(0%);transform: translateY(0%);}
.btn-primary:hover {color: var(--clr-white);}
.btn-secondary:hover {color: var(--clr-black);}
.btn-third:hover {color: var(--clr-black);}
.btn-close:hover {color: var(--clr-red);}
.round-btn .arr,
.round-btn .circle,
.round-btn .name {-webkit-transition: background var(--transition-1),color var(--transition-1);transition: background var(--transition-1),color var(--transition-1);}
.round-btn-listener:hover + .round-btn .circle {background-color: var(--clr-red);}
.round-btn-listener:hover + .round-btn .name {color: var(--clr-white);}
.round-btn-listener:hover + .round-btn .arr {fill: var(--clr-white);}
.btn-link:hover svg {-webkit-transform: translateX(-10px);transform: translateX(-10px);}
}
@media (max-width: 1560px) {
.btn {font-size: 13px;line-height: 1em;padding: 15px 25px;}
}
@media (max-width: 991px) {
.round-btn .name {padding: 50px 0 0 35px;}
.round-btn .arr {bottom: 50px;right: 30px;}
}
@media (min-width: 576px) and (max-width: 1199px) {
.btn-scroll {display: none;}
}
@media (max-width: 575px) {
.btn-scroll {display: none;}
.round-btn-wrap {max-width: 220px;}
}
/*--------------------*/
/* - BANNER           */
/*--------------------*/
.full-height {position: relative;height: calc(100vh - 180px);padding: 50px 0;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
.banner-content .title {margin-bottom: 20px;}
.banner-content .title b {color: var(--clr-red);font-weight: inherit;}
.logo-group {margin-top: 100px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.logo-group a {max-width: 110px;-webkit-box-flex: 1;-ms-flex: 1 0 auto;flex: 1 0 auto;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-filter: grayscale(1);filter: grayscale(1);cursor: pointer;}
.logo-group a:nth-child(1) {max-width: 80px;}
.logo-group a:nth-child(3) {max-width: 100px;}
.logo-group a:nth-child(4) {max-width: 38px;}
.logo-group a:not(:last-child) {margin-right: 55px;}
.banner .banner-num {position: relative;width: 100%;padding-top: 60%;overflow: hidden;font-size: var(--h-1);}
.banner .banner-num video {position: absolute;z-index: 0;inset: 0;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;}
.banner .banner-num div {display: inline-block;vertical-align: middle;position: absolute;z-index: 1;top: 0;left: 0;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;font-size: 6.5em;line-height: 1em;font-weight: 700;text-align: center;text-transform: uppercase;mix-blend-mode: screen;background-color: var(--clr-white);}
.banner .banner-num img {position: absolute;z-index: 0;inset: 0;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;z-index: 0;}
/*media*/
@media (min-width: 1200px) {
.logo-group a:hover {-webkit-filter: none;filter: none;}
}
@media (max-width: 1839px) {
.full-height {height: calc(100vh - 120px);min-height: 400px;}
.logo-group {margin-top: 45px;}
.logo-group a:not(:last-child) {margin-right: 45px;}
}
@media (min-width: 576px) and (max-width: 1199px) {
.full-height {height: auto;min-height: 0;padding: 0;}
}
@media (max-width: 1199px) {
.banner-content {text-align: center;}
.main-banner .sub-title {margin-bottom: 30px;}
.logo-group {-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;margin-bottom: 30px;}
.banner .banner-num {padding-top: 20%;}
}
@media (max-width: 991px) {
.banner .banner-num {padding-top: 25%;}
}
@media (max-width: 767px) {
.logo-group a:not(:last-child) {margin-right: 20px;}
.banner .banner-num {padding-top: 40%;}
}
@media (max-width: 575px) {
.full-height {height: auto;padding: 20px 0 0;}
.main-banner .full-height .counter-block {margin: 0;}
.main-banner .sub-title {margin-top: 15px;}
.logo-group {margin: 0;margin-top: 20px;padding: 0 15px;}
.logo-group a {max-width: 23%;}
}
/*--------------------*/
/* - TYPOGRAPHY       */
/*--------------------*/
body {font-family: var(--ff-1);font-weight: 400;font-size: 18px;line-height: 1em;color: var(--clr-title);}
body * {font-family: var(--ff-1);}
strong {font-weight: 600;line-height: inherit;}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {font-weight: 400;color: var(--clr-title);}
h1,
.h1,
h2,
.h2,
h3,
.h3 {font-weight: 600;}
h1,
.h1 {font-size: var(--h-1);line-height: 1.125em;}
h2,
.h2 {font-size: var(--h-2);line-height: 1.24em;}
h3,
.h3 {font-size: var(--h-3);line-height: 1.2em;}
h4,
.h4 {font-size: var(--h-4);line-height: 1.2em;}
h5,
.h5 {font-size: var(--h-5);line-height: 1.46em;}
h6,
.h6 {font-size: var(--h-6);line-height: 1.46em;}
.fw-500 {font-weight: 500;}
.upper {text-transform: uppercase;}
.color-white {color: var(--clr-white);}
.title b {color: var(--clr-red);}
.title-margin {margin-bottom: 35px;}
.fs-2 h1,
.fs-2 .h1,
.fs-2 .h2 {font-size: 40px;}
.fs-2 .simple-page h2 {font-size: 26px;}
.page-title {font-size: 68px;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
@media (max-width: 767px) {
.title-margin {margin-bottom: 15px;}
.fs-2 h1,
.fs-2 .h1,
.fs-2 .h2 {font-size: 32px;}
.fs-2 .simple-page h2 {font-size: 24px;}
.page-title {font-size: 40px;}
}
/*--------------------*/
/* - TEXT STYLES      */
/*--------------------*/
.text {font-size: 19px;line-height: 1.47em;font-weight: 300;color: var(--clr-text);}
.text.text-sm {font-size: 15px;line-height: 1.6em;}
.text.text-lg {font-size: 21px;line-height: 1.6em;}
.text.color-2 {color: #929292;}
.text > * + * {margin-top: 20px;}
.text h1,
.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {font-weight: 600;}
.text p {letter-spacing: 0.6px;}
.text b {font-weight: 500;}
.text strong {font-weight: 600;}
.text em {font-style: italic;font-weight: 500;}
.text a:not(.btn) {display: inline;color: var(--clr-text);font-weight: 500;text-decoration: underline;text-decoration-color: transparent;}
.text ul li,
.text ol li {position: relative;padding-left: 25px;color: inherit;font-size: inherit;margin-top: 10px;}
.text ul li:before {content: "";position: absolute;left: 0;top: 12px;width: 10px;height: 2px;background-color: #e0e0e0;}
.text ol {counter-reset: number;padding-left: 0;}
.text ol li {padding-left: 25px;}
.text ol li:before {display: inline-block;position: absolute;top: 1px;left: 0;counter-increment: number;content: counter(number, decimal-leading-zero) ".";color: var(--clr-red);font-size: 80%;line-height: inherit;font-weight: 500;}
.text picture img {display: block;width: 100%;}
.text figure {line-height: 0;width: 100% !important;}
.text figure.aligncenter {text-align: center;}
.text figure.alignright {text-align: right;}
.text figure > img {width: auto;margin-bottom: 0;}
.text figure figcaption {font-size: 13px;font-weight: 500;line-height: 1.6em;color: var(--clr-black);}
.text iframe {display: block;width: 100%;max-width: 100%;height: 600px;border: 0;max-height: calc(56.3vw - 20px);}
.text blockquote {text-align: left;font-size: 26px;font-weight: 600;line-height: 1.46em;padding: 5px 0 5px 25px;color: var(--clr-black);border-left: 2px solid var(--clr-red);}
.text table {border-collapse: collapse;width: 100%;}
.text table tbody {min-width: 690px;}
.text table tr {border-bottom: 1px solid var(--clr-grey);text-align: left;}
.text table thead th,
.text table thead td {color: var(--clr-black);font-weight: 600;vertical-align: middle;text-align: left;height: 60px;padding: 10px 5px;font-size: inherit;line-height: 1em;}
.text table thead th:first-child,
.text table thead td:first-child {padding-left: 10px;}
.text table thead th:last-child,
.text table thead td:last-child {padding-right: 10px;}
.text table td,
.text table th {vertical-align: middle;text-align: left;height: 60px;padding: 10px 5px;font-size: inherit;line-height: 1em;font-weight: 400;color: var(--clr-text);}
.text table td:first-child {padding-left: 10px;}
.text table td:last-child {padding-right: 10px;}
.text *:first-child {margin-top: 0;}
.text *:first-child img {margin-top: 0;}
.text > *:last-child {margin-bottom: 0;}
.text > *:last-child img {margin-bottom: 0;}
.title-with-text {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;margin-bottom: 70px;}
.title-with-text .title {max-width: 57%;-webkit-box-flex: 1;-ms-flex: 1 1 57%;flex: 1 1 57%;font-weight: 600;}
.title-with-text .text {-webkit-box-flex: 1;-ms-flex: 1;flex: 1;margin-left: 9%;}
.title-with-text .text span {color: var(--clr-red);font-weight: 400;}
.title-with-text .text.color-2 span {color: var(--clr-white);}
.title-with-text.no-align {display: block;}
.title-with-text.full-width .title {max-width: 100%;}
.sub-title {position: relative;letter-spacing: 0.05em;font-weight: 300;font-size: 24px;line-height: 1.4;color: var(--clr-text);text-transform: uppercase;}
/*media*/
@media (min-width: 1200px) {
.text a:not(.btn):hover {text-decoration-color: currentColor;}
}
@media (max-width: 1639px) {
.title-with-text .text {font-size: 18px;margin-left: 5%;}
.sub-title {font-size: 18px;}
}
@media (max-width: 1199px) {
.title-with-text {display: block;text-align: center;margin-bottom: 30px;}
.title-with-text .title {max-width: 100%;}
.title-with-text .text {display: none;padding: 0;}
.sub-title {font-size: 15px;}
}
@media (max-width: 991px) {
.sub-title {font-size: 12px;}
}
@media (max-width: 767px) {
.title-with-text {margin-bottom: 20px;}
.text {font-size: 15px;}
.text.text-lg {font-size: 19px;}
.text > * + * {margin-top: 15px;}
.text ul li,
.text ol li {margin-top: 5px;}
.text blockquote {font-size: 19px;}
.text img,
.text table,
.text iframe,
.text figure,
.text .swiper-entry {margin: 25px 0;}
.text table thead th,
.text table thead td {height: 48px;padding: 5px 2px;}
.text table thead th:first-child,
.text table thead td:first-child {padding-left: 5px;}
.text table thead th:last-child,
.text table thead td:last-child {padding-right: 5px;}
.text table td,
.text table th {height: 48px;padding: 5px 2px;}
.text table td:first-child,
.text table th:first-child {padding-left: 5px;}
.text table td:last-child,
.text table th:last-child {padding-right: 5px;}
}