/*---------------------*/
/* - SWIPER CUSTOM     */
/*---------------------*/
.swiper-entry {position: relative;}
.swiper-container {margin-left: auto;margin-right: auto;position: relative;overflow: hidden;list-style: none;padding: 0;z-index: 1;}
.swiper-lazy-preloader {border: none;background-image: url(../img/icons/icon-loader.svg);background-position: center;background-size: contain;background-repeat: no-repeat;}
.swiper-container:not(.swiper-no-swiping) .swiper-wrapper {cursor: url(../img/drag.png) 16 9,ew-resize;}
.swiper-container-vertical:not(.swiper-no-swiping) .swiper-wrapper {cursor: url(../img/drag-vertical.png) 8 16,ns-resize;}
.swiper-controls-hide .swiper-wrapper {cursor: default !important;}
.swiper-controls-hide .swiper-button-wrap,
.swiper-controls-hide .swiper-button-lock,
.swiper-controls-hide .swiper-pagination-lock {display: none !important;}
.swiper-pagination.swiper-pagination-relative {position: relative;margin-top: 20px;bottom: auto !important;}
.swiper-pagination {line-height: 0;z-index: 2;bottom: 30px !important;}
.swiper-pagination-bullet {position: relative;width: 10px;height: 10px;background: var(--clr-gray2);opacity: 1;border-radius: 50%;border: 2px solid var(--clr-gray2);-webkit-transition: var(--transition);transition: var(--transition);}
.swiper-pagination-bullet-active {background: none;border-color: var(--clr-red);}
.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {margin: 0 20px !important;}
.swiper-button-next:after,
.swiper-button-prev:after {content: none;}
.swiper-button-prev,
.swiper-button-next {display: inline-block;position: relative;right: 0;left: 0;margin: 0;width: 40px;height: 20px;border: none;border-radius: 0;-webkit-transition: var(--transition);transition: var(--transition);}
.swiper-button-prev i,
.swiper-button-next i {display: inline-block;position: relative;width: 100%;height: 100%;}
.swiper-button-prev i::before,
.swiper-button-next i::before {content: "";position: absolute;right: 0;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);width: 100%;height: 2px;color: var(--clr-black);-webkit-backface-visibility: hidden;backface-visibility: hidden;background: currentColor;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.swiper-button-prev i::after,
.swiper-button-next i::after {content: "";position: absolute;right: 2px;top: 50%;-webkit-transform: translateY(-50%) rotate(-45deg);transform: translateY(-50%) rotate(-45deg);width: 12px;height: 12px;color: var(--clr-black);-webkit-backface-visibility: hidden;backface-visibility: hidden;border-right: 2px solid currentColor;border-bottom: 2px solid currentColor;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {opacity: 0.3;}
.swiper-button-prev {-webkit-transform: rotate(180deg);transform: rotate(180deg);}
.swiper-button-wrap {line-height: 0;text-align: right;margin-top: 30px;}
.swiper-button-inner {display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.c-fraction-wrap {-ms-flex-negative: 0;flex-shrink: 0;width: 76px;text-align: center;}
.c-fraction-wrap > * {display: inline-block;vertical-align: top;font-size: 18px;font-weight: 500;color: var(--clr-black);}
.c-fraction-total::before {content: "/";font-size: inherit;color: inherit;margin: 0 5px 0 2px;}
.swiper-horizontal > .swiper-scrollbar {position: relative;left: 0;bottom: 0;z-index: 50;height: 4px;width: 100%;margin-top: 40px;margin-bottom: 2px;}
.swiper-scrollbar {border-radius: 0;background: transparent;}
.swiper-scrollbar::before {content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0.4;background-color: var(--clr-grey-400);}
.swiper-scrollbar-drag {top: -2px;height: 8px;border-radius: 0;background: var(--clr-black);}
@media (min-width: 1200px) {
.swiper-button-prev:hover i::before,
.swiper-button-prev:hover i::after,
.swiper-button-next:hover i::before,
.swiper-button-next:hover i::after {color: var(--clr-red);}
.swiper-pagination-bullet:hover {background: currentColor;}
}
@media (max-width: 1440px) {
.swiper-horizontal > .swiper-scrollbar {margin-top: 30px;}
}
@media (max-width: 767px) {
.swiper-pagination {bottom: 15px !important;}
.swiper-pagination-bullet {width: 8px;height: 8px;border-width: 1px;}
.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {margin: 0 6px !important;}
.swiper-button-wrap {text-align: center;}
}
@media (max-width: 575px) {
.swiper-container {overflow: visible;}
.swiper-horizontal > .swiper-scrollbar {width: calc(100% + 15px);}
}
/*--------------------*/
/* - SERVICES         */
/*--------------------*/
.services-wrapp {margin-right: -30px;margin-left: -30px;}
.service-item {padding-right: 30px;padding-left: 30px;}
.service-item:nth-child(n+4) {margin-top: 90px;}
.service-title {font-size: 26px;font-weight: 500;line-height: 1.2;color: var(--clr-black);border-bottom: 1px solid #eaeaea;padding-bottom: 30px;margin-bottom: 35px;white-space: nowrap;}
.service-item li {font-size: 22px;line-height: 1.2;color: var(--clr-black);}
.service-item li:not(:last-child) {margin-bottom: 15px;}
.service-item li a,
.service-item li span {position: relative;padding-left: 36px;display: inline-block;vertical-align: top;}
.service-item li a:before,
.service-item li span::before {content: "";display: block;width: 10px;height: 2px;position: absolute;left: 0;top: 9px;background-color: #E0E0E0;}
/*media*/
@media (min-width: 1200px) {
.service-item li a:before,
.service-item li span,
.service-item li span::before {-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.service-item li a:hover {color: var(--clr-red);}
.service-item li a:hover:before {background: var(--clr-red);width: 24px;}
}
@media (max-width: 1560px) {
.services-wrapp {margin-right: -20px;margin-left: -20px;}
.service-item {padding-right: 20px;padding-left: 20px;}
.service-item:nth-child(n+4) {margin-top: 60px;}
.service-title {font-size: 22px;padding-bottom: 20px;}
.service-item li {font-size: 20px;}
}
@media (max-width: 1199px) {
.service-title {padding-bottom: 10px;margin-bottom: 15px;}
}
@media (max-width: 991px) {
.service-title {font-size: 20px;}
.service-item li {font-size: 18px;}
}
@media (max-width: 767px) {
.services-wrapp {margin-right: -10px;margin-left: -10px;}
.service-item {padding-right: 10px;padding-left: 10px;}
.service-item:nth-child(n+3) {margin-top: 40px;}
}
@media (max-width: 575px) {
.service-item:nth-child(n+3) {margin-top: 30px;}
.service-title {font-size: 17px;}
.service-item li {font-size: 16px;}
.service-item li a,
.service-item li span {padding-left: 22px;}
.service-item li a::before {top: 6px;}
}
/*--------------------*/
/* - REVIEWS          */
/*--------------------*/
.reviews-slider .swiper-wrapper {margin-bottom: 90px;-ms-flex-wrap: nowrap !important;flex-wrap: nowrap !important;}
.review-img {position: relative;padding-bottom: 66%;margin-bottom: 25px;overflow: hidden;}
.review-img video {height: 126%;}
.review-img img {position: absolute;left: 0;right: 0;top: 0;bottom: 0;max-width: 100%;max-height: 100%;margin: auto;width: 100%;}
.review-btn {position: absolute;top: 0;left: 0;width: 100%;height: 100%;cursor: pointer;}
.review-icon {position: absolute;left: 50%;top: 50%;width: 120px;height: 120px;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);border-radius: 50%;color: #fff;border: 1px solid #fff;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;font-weight: 600;font-style: normal;font-size: 14px;letter-spacing: 0.1em;text-transform: uppercase;}
.review-icon:after {content: "";display: block;width: 0;height: 0;border-style: solid;border-width: 5px 0 5px 7px;border-color: transparent transparent transparent #fff;margin-left: 14px;position: relative;top: -3px;}
.review-title {font-size: 20px;font-weight: 500;line-height: 1.2;color: var(--clr-black);margin-bottom: 15px;}
.review-category {font-size: 19px;line-height: 1.4;}
/*media*/
@media (min-width: 992px) {
.reviews-slider .swiper-container:not(.swiper-no-swiping) .swiper-wrapper {cursor: default;}
.reviews-slider .swiper-wrapper {width: auto;-webkit-transform: none !important;transform: none !important;}
.reviews-slider .swiper-slide {width: 33.3333% !important;margin-right: 0 !important;}
.reviews-slider .swiper-pagination {display: none;}
}
@media (min-width: 1200px) {
.review-icon {opacity: 0;visibility: hidden;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.review-img:hover .review-icon {opacity: 1;visibility: visible;}
}
@media (max-width: 1199px) {
.reviews-slider .swiper-wrapper {margin-left: 0;margin-right: 0;}
.review-img {margin-bottom: 15px;}
.review-title {margin-bottom: 5px;}
.review-icon {font-size: 0;}
.review-icon:after {margin-left: 0;}
}
@media (max-width: 991px) {
.reviews-slider .swiper-wrapper {margin-bottom: 0;}
.reviews-slider .swiper-container {overflow: visible;}
.review-icon {width: 40px;height: 40px;}
.review-icon::after {top: 0;}
.reviews-slider .swiper-slide {max-width: none;-ms-flex-preferred-size: auto;flex-basis: auto;padding: 0;}
}
@media (max-width: 767px) {
.review-title {font-size: 16px;}
.review-category {font-size: 14px;}
}
/*--------------------*/
/* - CLIENTS          */
/*--------------------*/
.clients-slider .clients {margin: 0 -5px;-ms-flex-wrap: nowrap !important;flex-wrap: nowrap !important;}
.clients-slider .swiper-slide {-webkit-box-flex: 1;-ms-flex: 1 1 20%;flex: 1 1 20%;max-width: 20%;padding: 0 5px;margin-bottom: 10px;}
.client-img {padding-bottom: 73%;position: relative;z-index: 1;background: #F8F8F8;}
.client-img::before {content: "";display: block;position: absolute;left: 0;bottom: 0;width: 100%;height: 0;z-index: -1;background-color: #fff;}
.client-img img {position: absolute;left: 0;top: 0;right: 0;bottom: 0;max-width: 90%;max-height: 90%;margin: auto;width: auto;}
/*media*/
@media (min-width: 1200px) {
.clients-slider .clients {width: auto;height: auto !important;-webkit-transform: none !important;transform: none !important;-ms-flex-wrap: wrap !important;flex-wrap: wrap !important;}
.client-img {cursor: pointer;-webkit-transition: 0.3s;transition: 0.3s;}
.client-img::before {-webkit-transition: inherit;transition: inherit;}
.clients-slider .swiper-slide:hover .client-img::before {height: 100%;}
.clients-slider .swiper-pagination {display: none;}
.clients-slider .swiper-slide {width: auto !important;margin-right: 0 !important;}
.clients-slider .swiper-container:not(.swiper-no-swiping) .swiper-wrapper {cursor: default;}
}
@media (max-width: 1199px) {
.clients-slider .swiper-container {overflow: visible;}
.clients-slider .clients {margin: 0;}
.clients-slider .swiper-slide {max-width: none;-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;padding: 0;margin-bottom: 0;}
}
@media (max-width: 767px) {
.client-img img {max-width: 80%;max-height: 80%;}
}
/*--------------------*/
/* - BUTTONS          */
/*--------------------*/
.un__btn {display: inline-block;position: relative;cursor: pointer;-ms-flex-negative: 0;flex-shrink: 0;text-decoration: none;border: none;font-size: 18px;line-height: 1em;font-weight: 500;padding: 0;color: var(--clr-black);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.un__btn b {display: inline-block;position: relative;font-weight: inherit;letter-spacing: var(--lts-2);}
.un__btn-primary {padding: 26px;text-align: center;min-width: 280px;color: var(--clr-white);background-color: var(--clr-grey-600);outline: 2px solid var(--clr-grey-600);outline-offset: -2px;}
.un__btn-secondary {padding: 26px;text-align: center;min-width: 280px;color: var(--clr-grey-600);outline: 2px solid var(--clr-grey-600);outline-offset: -2px;}
.un__btn-third {padding: 26px;text-align: center;min-width: 280px;color: var(--clr-black);background-color: var(--bg-3);outline: 2px solid var(--bg-3);outline-offset: -2px;}
.un__btn-four {padding: 26px;text-align: center;min-width: 280px;color: var(--clr-white);background-color: var(--clr-black);outline: 2px solid var(--clr-black);outline-offset: -2px;}
.un__btn-five {padding: 26px;text-align: center;min-width: 280px;color: var(--clr-grey-600);outline: 2px solid var(--clr-grey-600);outline-offset: -2px;}
.un__btn-link b {line-height: 1.55em;text-decoration: underline;text-decoration-color: currentColor;text-decoration-thickness: 2px;text-underline-offset: 6px;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.un__btn-link-2 {display: inline-block;}
.un__btn-link-2 b {display: inline;vertical-align: middle;line-height: 1.55em;text-decoration: underline;text-decoration-color: currentColor;text-decoration-thickness: 2px;text-underline-offset: 6px;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.un__btn-link-2 i {vertical-align: bottom;display: inline-block;position: relative;margin-left: 15px;margin-bottom: 4px;width: 40px;height: 20px;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.un__btn-link-2 i::before {content: "";position: absolute;right: 0;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);width: 100%;height: 2px;color: var(--clr-black);-webkit-backface-visibility: hidden;backface-visibility: hidden;background: currentColor;}
.un__btn-link-2 i::after {content: "";position: absolute;right: 2px;top: 50%;-webkit-transform: translateY(-50%) rotate(-45deg);transform: translateY(-50%) rotate(-45deg);width: 12px;height: 12px;color: var(--clr-black);-webkit-backface-visibility: hidden;backface-visibility: hidden;border-right: 2px solid currentColor;border-bottom: 2px solid currentColor;}
.un__btn-back {display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-orient: horizontal;-webkit-box-direction: reverse;-ms-flex-direction: row-reverse;flex-direction: row-reverse;}
.un__btn-back b {line-height: 1.55em;letter-spacing: var(--lts-2);}
.un__btn-back b::before {content: "";position: absolute;display: block;left: 0;bottom: 0;width: 100%;height: 2px;background-color: currentColor;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.un__btn-back i {display: inline-block;position: relative;margin-right: 15px;width: 40px;height: 20px;-webkit-transform: rotate(180deg);transform: rotate(180deg);}
.un__btn-back i::before {content: "";position: absolute;right: 0;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);width: 100%;height: 2px;color: var(--clr-black);-webkit-backface-visibility: hidden;backface-visibility: hidden;background: currentColor;}
.un__btn-back i::after {content: "";position: absolute;right: 2px;top: 50%;-webkit-transform: translateY(-50%) rotate(-45deg);transform: translateY(-50%) rotate(-45deg);width: 12px;height: 12px;color: var(--clr-black);-webkit-backface-visibility: hidden;backface-visibility: hidden;border-right: 2px solid currentColor;border-bottom: 2px solid currentColor;}
.un__btn-small {display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;outline: 2px solid var(--clr-grey-600);outline-offset: -2px;}
.un__btn-small b {font-size: 14px;font-weight: 600;padding: 12px 18px;color: var(--clr-grey-600);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.un__btn-xs {padding: 21px 10px;min-width: 250px;}
.btn-close {display: inline-block;position: relative;cursor: pointer;z-index: 1;width: 26px;height: 26px;}
.btn-close::before,
.btn-close::after {content: "";position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%) rotate(45deg);transform: translate(-50%, -50%) rotate(45deg);height: 2px;width: 100%;background: var(--clr-black);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.btn-close::after {-webkit-transform: translate(-50%, -50%) rotate(-45deg);transform: translate(-50%, -50%) rotate(-45deg);}
.un__simple-link,
a.un__simple-link {display: inline-block;position: relative;cursor: pointer;-ms-flex-negative: 0;flex-shrink: 0;border: none;font-size: 18px;line-height: 1.5em;font-weight: 500;padding: 0;color: var(--clr-black);letter-spacing: var(--lts-2);text-decoration: underline;text-decoration-color: transparent;text-decoration-thickness: 2px;text-underline-offset: 6px;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.un__play-btn {position: absolute;z-index: 30;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);text-align: center;}
.un__play-btn span {display: block;position: relative;width: 112px;height: 112px;margin: 0 auto;}
.un__play-btn span:before {content: "";position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(33, 33, 33, 0.7);border: 1px solid #E7E7E7;border-radius: 100%;opacity: 0.5;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.un__play-btn span:after {position: absolute;content: "";top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);width: 50%;height: 50%;opacity: 0.6;border-radius: 100%;background-color: #FFFFFF;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.un__play-btn span i {display: inline-block;position: absolute;z-index: 2;top: 50%;left: calc(50% + 1px);-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);border-top: 12px transparent solid;border-bottom: 12px transparent solid;border-left: 19px #FF3333 solid;}
.un__play-btn b {display: block;margin-top: 15px;font-size: 15px;font-weight: 600;line-height: 1.5em;color: var(--clr-white);letter-spacing: var(--lts-7);text-transform: uppercase;}
.un__btn-up {display: none;}
.xl-full-width {width: 100%;}
:lang(es) .un__btn-link b,
:lang(fr) .un__btn-link b {text-decoration: underline;text-decoration-thickness: 2px;}
:lang(es) .un__btn-link-2 b,
:lang(fr) .un__btn-link-2 b {text-decoration: underline;text-decoration-thickness: 2px;}
:lang(es) .un__simple-link,
:lang(fr) .un__simple-link {text-decoration: none;}
@media (min-width: 1200px) {
.btn-close:hover::before,
.btn-close:hover::after {background: var(--clr-red);}
.un__btn:hover b {text-decoration-color: transparent;}
.un__btn-link-2:hover i {width: 30px;}
.un__btn-primary:hover {color: var(--clr-black);background-color: var(--clr-white);}
.un__btn-secondary:hover {color: var(--clr-white);background: var(--clr-grey-600);}
.un__btn-third:hover {background-color: transparent;}
.un__btn-four:hover {color: var(--clr-black);background-color: transparent;}
.un__btn-five:hover {color: var(--clr-white);background: var(--clr-red);outline-color: var(--clr-red);}
.un__btn-small:hover {background: var(--clr-grey-600);}
.un__btn-small:hover b {color: var(--clr-white);}
.un__btn-back:hover b::before {background-color: transparent;}
.un__simple-link:hover,
a.un__simple-link:hover {text-decoration-color: currentColor;}
.un__play-btn:hover span:before {opacity: 1;}
.un__play-btn:hover span:after {width: 60%;height: 60%;opacity: 0.8;}
:lang(es) .un__btn-link:hover b,
:lang(fr) .un__btn-link:hover b {text-decoration: none;}
:lang(es) .un__btn-link-2:hover b,
:lang(fr) .un__btn-link-2:hover b {text-decoration: none;}
:lang(es) .un__simple-link:hover,
:lang(fr) .un__simple-link:hover {text-decoration-thickness: 2px;text-decoration: underline;}
}
@media (max-width: 1199px) {
.un__play-btn span {width: 80px;height: 80px;}
.un__play-btn span i {border-top: 7px transparent solid;border-bottom: 7px transparent solid;border-left: 14px #FF3333 solid;}
.un__play-btn b {margin-top: 10px;font-size: 13px;}
}
@media (max-width: 991px) {
.un__btn-up {position: fixed;z-index: 98;right: 15px;bottom: 52px;display: block;width: 48px;height: 48px;border-radius: 100%;-webkit-transform: scale(0);transform: scale(0);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.un__btn-up::before {content: "";position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);width: 100%;height: 100%;border-radius: inherit;background: var(--clr-grey-400);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.un__btn-up i {display: block;position: absolute;width: calc(100% - 14px);height: calc(100% - 14px);top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);border-radius: 100%;background: var(--clr-grey-600);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.un__btn-up i::before {content: "";position: absolute;top: 25%;left: 50%;-webkit-transform: translateX(-50%) rotate(-45deg);transform: translateX(-50%) rotate(-45deg);width: 30%;height: 30%;border-top: 2px solid var(--clr-white);border-right: 2px solid var(--clr-white);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.un__btn-up i::after {content: "";position: absolute;top: 24%;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);width: 2px;height: 50%;background-color: var(--clr-white);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.un__btn-up.anim-arrow::before {width: 70%;height: 70%;}
.un__btn-up.anim-arrow i::before,
.un__btn-up.anim-arrow i:after {opacity: 0;}
.un__btn-up.scrolled {-webkit-transform: scale(1);transform: scale(1);}
.un__btn-xs {font-size: 16px !important;padding: 15px 5px !important;min-width: 180px !important;}
}
@media (max-width: 575px) {
.sm-full-width {width: 100%;}
.un__btn {font-size: 17px;}
.un__btn-primary,
.un__btn-secondary,
.un__btn-third,
.un__btn-four,
.un__btn-five {min-width: 180px;padding: 20px 10px;}
.un__btn-link-2 i {margin-bottom: 1px;}
.un__simple-link {font-size: 17px;}
}
/*--------------------*/
/* - FOOTER           */
/*--------------------*/
footer.un__footer {position: relative;overflow: visible;padding: 0;margin: auto 0 0;padding-top: clamp(80px, 9.55vw, 115px);background-color: var(--clr-white);}
.un__footer-logo {margin-bottom: 20px;}
.un__footer-logo-inner {max-width: 210px;}
.un__footer-logo-inner img {display: block;}
.un__footer-menu {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;padding-left: clamp(0px, 15.5vw, 320px);}
.un__footer-list {padding: 0 10px;}
.un__footer-list:first-child {padding-left: 0;}
.un__footer-list:last-child {padding-right: 0;}
.un__footer-list li {margin-bottom: 25px;}
.un__footer-list li:last-child {margin-bottom: 0;}
.un__footer-list a {position: relative;font-size: 18px;line-height: 1.5em;font-weight: 500;letter-spacing: var(--lts-2);text-decoration: underline;text-decoration-color: transparent;text-decoration-thickness: 2px;text-underline-offset: 6px;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
:lang(es) .un__footer-list a,
:lang(fr) .un__footer-list a {text-decoration: none;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.un__footer-bottom {margin: 60px 0 30px;}
.un__footer-bottom .un__social {margin-bottom: 40px;}
.un__footer-bottom-inner {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.un__footer-bottom-inner > * {font-size: 13px;font-weight: 600;letter-spacing: var(--lts-4);color: var(--clr-grey-600);margin-right: 15px;}
.un__footer-bottom-inner > *:last-child {margin-right: 0;}
.un__footer-link {text-decoration: underline;}
.un__footer-commercial-link {margin-left: auto;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;font-size: 13px;font-weight: 500;color: var(--clr-grey-600);}
.un__footer-commercial-link span {margin-right: 10px;}
@media (min-width: 1200px) {
.un__footer-list a:hover {text-decoration-color: currentColor;}
:lang(es) .un__footer-list a:hover,
:lang(fr) .un__footer-list a:hover {text-decoration: underline;text-decoration-thickness: 2px;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
}
@media (max-width: 1440px) {
.un__footer .col-xxl-10 {width: 100%;}
}
@media (max-width: 1199px) {
.un__footer-menu {padding-left: clamp(0px, 10vw, 120px);}
}
@media (max-width: 991px) {
.un__footer-logo {margin-bottom: 35px;}
.un__footer-menu {-ms-flex-wrap: wrap;flex-wrap: wrap;margin-bottom: -50px;}
.un__footer-list {width: 50%;margin-bottom: 50px;}
.un__footer-list:first-child,
.un__footer-list:nth-child(3) {padding-left: 0;}
.un__footer-list:last-child {padding-right: 0;}
.un__footer-list li {margin-bottom: 20px;}
.un__footer-bottom {margin: 50px 0 30px;}
.un__footer-bottom .un__social {margin-bottom: 30px;}
.un__footer-bottom-inner {-ms-flex-wrap: wrap;flex-wrap: wrap;}
.un__footer-bottom-inner p {width: 100%;margin-bottom: 30px;}
}
@media (max-width: 767px) {
.un__footer-menu {padding-left: 0;}
}
@media (max-width: 575px) {
.un__footer-list {width: 100%;padding: 0 !important;}
.un__footer-list li {margin-bottom: 15px;}
.un__footer-bottom-inner {-ms-flex-wrap: wrap;flex-wrap: wrap;}
.un__footer-bottom-inner p {width: 100%;margin-bottom: 30px;}
.un__footer-bottom-inner > * {width: 100%;margin: 0;margin-bottom: 10px;}
.un__footer-bottom-inner .un__footer-commercial-link {margin-bottom: 0;margin-top: 20px;}
}
/*--------------------*/
/* - FORM ELEMENTS    */
/*--------------------*/
input {-webkit-appearance: none;-moz-appearance: none;font-size: 18px;font-weight: 400;color: var(--clr-black);}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {color: var(--clr-black);}
input:-moz-placeholder,
textarea:-moz-placeholder {color: var(--clr-black);}
input::-moz-placeholder,
textarea::-moz-placeholder {color: var(--clr-black);}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {color: var(--clr-black);}
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {display: none;}
input,
textarea,
select {border-radius: 0;background: none;border: none;margin: 0;width: 100%;padding: 0;}
textarea {display: block;resize: none;overflow: auto;}
select::-ms-expand {display: none;}
.input {position: relative;z-index: 1;height: 54px;font-size: 18px;font-weight: 500;line-height: 38px;padding: 16px 40px 0 15px;text-align: left;text-overflow: ellipsis;color: var(--clr-black);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.input:not(textarea) {-webkit-box-shadow: inset 0 -2px 0 0 var(--clr-grey-600);box-shadow: inset 0 -2px 0 0 var(--clr-grey-600);}
textarea.input {height: 156px;line-height: 1.5em;border: 2px solid var(--clr-grey-600);outline-offset: -1px;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.input-field-wrapper {position: relative;}
.input-field-wrapper::before {content: "!";position: absolute;z-index: 0;top: 17px;right: 15px;width: 20px;height: 20px;border-radius: 100%;text-align: center;font-size: 16px;line-height: 20px;font-weight: 600;color: var(--clr-white);background-color: var(--clr-red);-webkit-transform: scale(0);transform: scale(0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.input-field-wrapper::after {content: attr(data-descr);display: block;padding-left: 15px;font-size: 13px;font-weight: 600;line-height: 1.5em;color: var(--clr-grey-600);letter-spacing: var(--lts-4);}
.input-placeholder {display: inline-block;position: absolute;z-index: 0;top: 0;left: 15px;font-size: 18px;line-height: 1em;font-weight: 500;color: var(--clr-black);overflow: hidden;white-space: nowrap;text-overflow: ellipsis;-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-transform: translateY(18px);transform: translateY(18px);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.input-placeholder b {opacity: 0.5;}
.input-field-wrapper.focus .input-placeholder,
.input-field-wrapper.value .input-placeholder {z-index: 1;font-size: 13px;-webkit-transform: translateY(0%);transform: translateY(0%);color: var(--clr-grey-600);}
.input-field-wrapper.focus .input:not(textarea),
.input-field-wrapper.value .input:not(textarea) {-webkit-box-shadow: inset 0 -3px 0 0 var(--clr-black);box-shadow: inset 0 -3px 0 0 var(--clr-black);}
.input-field-wrapper.focus textarea.input,
.input-field-wrapper.value textarea.input {border-color: var(--clr-black);}
.input-field-wrapper.invalid::before,
.input-field-wrapper.invalid.value::before {-webkit-transform: scale(1);transform: scale(1);}
.input-field-wrapper.invalid .input-placeholder,
.input-field-wrapper.invalid.value .input-placeholder {color: var(--clr-error);}
.input-field-wrapper.invalid .input:not(textarea),
.input-field-wrapper.invalid.value .input:not(textarea) {-webkit-box-shadow: inset 0 -2px 0 0 var(--clr-error);box-shadow: inset 0 -2px 0 0 var(--clr-error);}
.input-field-wrapper.invalid.focus:not(.value) .input:not(textarea) {-webkit-box-shadow: inset 0 -3px 0 0 var(--clr-error);box-shadow: inset 0 -3px 0 0 var(--clr-error);}
.input-field-desc {font-size: 13px;font-weight: 600;line-height: 1.5em;color: var(--clr-grey-600);letter-spacing: var(--lts-4);padding-left: 15px;}
.input-field-info {position: absolute;z-index: 3;top: 18px;right: -32px;}
.input-field-info i {cursor: pointer;display: block;width: 16px;height: 16px;font-size: 12px;font-weight: 600;text-align: center;line-height: 13px;color: var(--clr-grey-600);border-radius: 100%;border: 2px solid var(--clr-grey-600);}
.input-field-info:hover .input-field-info-inner {opacity: 1;visibility: visible;}
.input-field-info-inner {position: absolute;bottom: -10px;left: 50%;-webkit-transform: translateY(100%);transform: translateY(100%);width: 275px;padding: 15px 20px;font-size: 16px;font-weight: 500;line-height: 1.3em;letter-spacing: var(--lts-4);color: var(--clr-grey-600);background-color: var(--clr-white);-webkit-box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.15);box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.15);opacity: 0;visibility: hidden;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.form-block + .form-block {margin-top: 70px;}
.form-block .row {--bs-gutter-x: 30px;--bs-gutter-y: 30px;}
.form-block > * {margin-bottom: 30px;}
.form-block > *:last-child {margin-bottom: 0;}
.form-block > * + .un__btn {margin-top: 40px;}
.form-wrap > * + .un__btn {margin-top: 40px;}
.form-caption {position: relative;z-index: 1;font-size: 12px;font-weight: 600;line-height: 1.33em;color: var(--clr-red);letter-spacing: var(--lts-6);text-transform: uppercase;margin-bottom: 10px;}
.form-caption-2 {position: relative;z-index: 1;font-size: 13px;font-weight: 600;line-height: 1.5em;color: var(--clr-black);letter-spacing: var(--lts-4);margin-bottom: 10px;}
.field-search.focus .field-search-buttons > svg,
.field-search.focus .field-search-buttons > img,
.field-search.value .field-search-buttons > svg,
.field-search.value .field-search-buttons > img {opacity: 0;visibility: hidden;}
.field-search.focus .field-search-buttons .btn-close,
.field-search.value .field-search-buttons .btn-close {opacity: 1;visibility: visible;}
.field-search-buttons {position: absolute;top: 16px;right: 15px;width: 28px;height: 28px;}
.field-search-buttons > * {position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.field-search-buttons .btn-close {opacity: 0;visibility: hidden;}
.field-calendar::before {content: "";border-radius: 0;font-size: 0;line-height: 0;background-color: transparent;background-repeat: no-repeat;background-size: contain;background-image: url("../img/icons/icon-calendar.svg");-webkit-transform: scale(1);transform: scale(1);}
@media (max-width: 1199px) {
.input-field-info {position: absolute;top: 0;right: 0;}
.input-field-info-inner {position: absolute;bottom: -10px;left: auto;right: 0;}
}
@media (max-width: 767px) {
.input {font-size: 16px;}
.input-placeholder {font-size: 16px;}
}
/*--------------------*/
/* - CHECK BOX        */
/*--------------------*/
.ch-box-entry {display: inline-block;cursor: pointer;margin: 0;padding: 0;line-height: 0;font-size: 0;min-width: 30px;min-height: 20px;margin: 0 15px;}
.ch-box-entry input {display: none;}
.ch-box-entry span {position: relative;display: block;font-size: 18px;font-weight: 500;line-height: 1.33em;color: var(--clr-black);letter-spacing: var(--lts-2);padding-left: 33px;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.ch-box-entry span:before {content: "";position: absolute;left: 0;top: 2px;width: 18px;height: 18px;border: 2px solid var(--clr-black);border-radius: 2px;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.ch-box-entry span:after {content: "";position: absolute;left: 4px;top: 6px;width: 10px;height: 10px;z-index: 1;-webkit-transform: scale(0);transform: scale(0);-webkit-backface-visibility: hidden;backface-visibility: hidden;background-color: var(--clr-black);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.ch-box-entry input[type=radio] + span:before,
.ch-box-entry input[type=radio] + span:after {border-radius: 100%;}
.ch-box-entry input[type=checkbox] + span:after {width: 6px;height: 10px;-webkit-transform: rotate(45deg) scale(0);transform: rotate(45deg) scale(0);margin: -1px 0 0 2px;border-right: 2px solid var(--clr-white);border-bottom: 2px solid var(--clr-white);}
.ch-box-entry input:checked + span:after {-webkit-transform: scale(1);transform: scale(1);}
.ch-box-entry input[type=checkbox]:checked + span::before {background-color: var(--clr-red);border-color: var(--clr-red);}
.ch-box-entry input[type=checkbox]:checked + span:after {background-color: var(--clr-red);-webkit-transform: rotate(45deg) scale(1);transform: rotate(45deg) scale(1);}
span.wpcf7-form-control-wrap {padding-left: 0;}
.wpcf7-form-control-wrap:before {display: none;}
.wpcf7-form-control-wrap *:not(.wpcf7-list-item-label):before {display: none;}
.ch-box-entry span *:not(.wpcf7-list-item-label) {padding-left: 0;margin: 0;}
/* Change Autocomplete styles in Chrome*/
.input-field-wrapper.focus .input:not(textarea):-webkit-autofill,
.input-field-wrapper.value .input:not(textarea):-webkit-autofill,
.input-field-wrapper.focus .input:not(textarea):-webkit-autofill:hover,
.input-field-wrapper.value .input:not(textarea):-webkit-autofill:hover,
.input-field-wrapper.focus .input:not(textarea):-webkit-autofill:focus,
.input-field-wrapper.value .input:not(textarea):-webkit-autofill:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {border: 0;-webkit-text-fill-color: var(--clr-black);-webkit-box-shadow: inset 0 -3px 0 0 var(--clr-black),inset 0 0 100px var(--bg-2);-webkit-transition: background-color 5000s ease-in-out 0s;transition: background-color 5000s ease-in-out 0s;}
/*--------------------*/
/* - UPLOAD WRAPPER   */
/*--------------------*/
.upload-wrapper {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;position: relative;font-size: 0;}
.upload-wrapper::before {content: "";border-radius: 0;font-size: 0;line-height: 0;background-color: transparent;background-repeat: no-repeat;background-size: contain;background-image: url("../img/icons/icon-load.svg");-webkit-transform: scale(1);transform: scale(1);}
.upload-wrapper input {display: none;padding: 0;}
.upload-icon {position: absolute;left: 0;top: 0;width: 20px;height: 20px;}
.upload-wrapper .file-name {position: relative;cursor: pointer;z-index: 1;width: 100%;height: 54px;-webkit-transition: var(--transition-1);transition: var(--transition-1);-webkit-box-shadow: inset 0 -2px 0 0 var(--clr-grey-600);box-shadow: inset 0 -2px 0 0 var(--clr-grey-600);}
.input-field-wrapper.upload-wrapper.value::after {display: none;}
.input-field-wrapper.upload-wrapper.value .input-placeholder {z-index: 0;left: 15px;font-size: 18px;color: var(--clr-black);-webkit-transform: translateY(18px);transform: translateY(18px);}
.upload-file-item {position: relative;display: inline-block;margin-top: 10px;padding: 5px 35px 5px 10px;border-radius: 4px;background-color: var(--clr-grey-200);color: var(--clr-black);font-size: 14px;letter-spacing: 0.25px;line-height: 20px;}
.upload-file-close {cursor: pointer;position: absolute;z-index: 5;top: 7px;right: 10px;width: 16px;height: 16px;border-radius: 100%;background-color: var(--clr-grey-600);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.upload-file-close:before,
.upload-file-close:after {content: "";position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%) rotate(45deg);transform: translate(-50%, -50%) rotate(45deg);width: 60%;height: 2px;background-color: var(--clr-white);}
.upload-file-close:after {-webkit-transform: translate(-50%, -50%) rotate(-45deg);transform: translate(-50%, -50%) rotate(-45deg);}
@media (min-width: 1200px) {
.upload-file-close:hover {background-color: var(--clr-red);}
}
/*--------------------*/
/* - POPUPS           */
/*--------------------*/
.popup-wrapper {position: fixed;z-index: 1000;left: 0;top: 0;width: 100%;height: 100%;left: -100%;-webkit-transition-delay: 0.3s;transition-delay: 0.3s;display: block;}
.popup-wrapper.active {left: 0;-webkit-transition-delay: 0s;transition-delay: 0s;}
.popup-wrapper .bg-layer {position: absolute;left: 0;top: -100px;right: 0;bottom: -100px;background: rgba(19, 19, 19, 0.45);opacity: 0;-webkit-transition: all 0.3s;transition: all 0.3s;}
.popup-wrapper.active .bg-layer {opacity: 1;}
.popup-content {position: absolute;left: 0;top: 0;right: 0;bottom: 0;overflow: auto;-webkit-overflow-scrolling: touch;font-size: 0;text-align: center;-webkit-transition: all 0.3s;transition: all 0.3s;-webkit-transform: translateY(100px);transform: translateY(100px);opacity: 0;visibility: hidden;padding: 15px;letter-spacing: 0;}
.popup-content.active {-webkit-transform: translateY(0%);transform: translateY(0%);opacity: 1;visibility: visible;}
.popup-content:after {display: inline-block;vertical-align: middle;height: 100%;content: "";}
.popup-content .layer-close {position: absolute;left: 0;bottom: 0;right: 0;height: 10000px;}
.popup-container {position: relative;display: inline-block;vertical-align: middle;width: 100%;max-width: 832px;background: var(--clr-white);-webkit-box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.15);box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.15);}
.popup-container .btn-close {position: absolute;z-index: 10;top: 15px;right: 15px;}
.popup-align {position: relative;padding: 50px 80px;}
.welcome-popup .popup-align {padding: 60px;}
.welcome-popup .popup-align > * {margin-bottom: 15px;}
.welcome-popup .popup-align > *:last-child {margin-bottom: 0;}
.welcome-popup .welcome-popup-img {line-height: 0;margin-bottom: 20px;}
.welcome-popup .welcome-popup-img img {width: 50px;height: 50px;}
.welcome-popup .popup-title {text-transform: uppercase;font-weight: 500;color: var(--clr-red);}
.welcome-popup .un__text {font-size: 16px;font-weight: 600;margin-bottom: 30px;}
.welcome-popup .un__caption {text-transform: uppercase;font-size: 14px;font-weight: 500;}
.welcome-popup .welcome-btn-wrap {display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-ms-flex-wrap: wrap;flex-wrap: wrap;margin: -10px -5px;max-width: 550px;}
.welcome-popup .welcome-btn-wrap > * {margin: 10px 5px 0;}
.welcome-popup .welcome-btn-wrap .xl-full-width {width: calc(100% - 10px);}
.external-popup .popup-container {max-width: 680px;}
.external-popup .popup-align {padding: 60px 70px;}
.external-popup .popup-title {text-transform: uppercase;color: var(--clr-red);margin-bottom: 30px;font-weight: 500;}
.external-popup .un__text {font-size: 16px;max-width: 420px;margin: 0 auto 50px;}
.external-popup .external-btn-wrap {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.external-popup .external-btn-wrap > * {padding: 16px 10px;min-width: 200px;margin: 0 20px;text-transform: capitalize;}
.new-pj-popup .popup-container {max-width: 752px;}
.new-pj-popup .popup-align {padding: 80px 120px;}
.new-pj-popup .popup-title {margin-bottom: 20px;}
.new-pj-popup .form-wrap {margin-top: 70px;}
.zoom-popup .popup-container {max-width: 90%;}
.zoom-popup .popup-align {padding: 50px;text-align: left;}
.zoom-popup .prj-controls-wrap .img-wrap-inner {padding: 0;}
.zoom-popup .prj-controls-wrap .img-wrap-inner > img {display: block;width: 100%;}
.zoom-popup .prj-img-text {font-size: 13px;font-weight: 600;line-height: 1.7em;color: var(--clr-black);letter-spacing: var(--lts-4);}
.popup-location .popup-align .un__text {margin-top: 15px;}
.popup-location .popup-align .input-field-wrapper {margin-top: 40px;}
.popup-location .popup-align .un__btn {margin-top: 80px;}
.clarifying-popup .popup-container {max-width: 536px;}
.clarifying-popup .popup-align {padding: 35px 50px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-align: end;-ms-flex-align: end;align-items: flex-end;}
.clarifying-popup .popup-align > * {margin-bottom: 20px;}
.clarifying-popup .popup-align > *:last-child {margin-bottom: 0;}
.clarifying-popup .un__text {font-size: 18px;}
@media (max-width: 1199px) {
.zoom-popup .popup-container {max-width: 100%;}
}
@media (max-width: 767px) {
.popup-container .btn-close {top: 10px;right: 10px;}
.popup-align {padding: 40px 15px;}
.welcome-popup .un__text br {display: none;}
.welcome-popup .welcome-btn-wrap {-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
.welcome-popup .welcome-btn-wrap > * {min-width: 180px;}
.welcome-popup .popup-align {padding: 40px 15px;}
.welcome-popup .popup-align > * {margin-bottom: 15px;}
.external-popup .popup-align {padding: 40px 15px;}
.external-popup .popup-align > * {margin-bottom: 20px;}
.external-popup .popup-align > *:last-child {margin-bottom: 0;}
.external-popup .popup-title {font-size: 20px;}
.external-popup .external-btn-wrap {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
.external-popup .external-btn-wrap > * {margin: 0 0 10px;}
.external-popup .external-btn-wrap > *:last-child {margin-bottom: 0;}
.new-pj-popup .popup-align {padding: 40px 15px;}
.new-pj-popup .popup-title {margin-bottom: 10px;}
.new-pj-popup .form-wrap {margin-top: 30px;}
.new-pj-popup .form-block + .form-block {margin-top: 50px;}
.zoom-popup .popup-align {padding: 40px 15px 15px;}
.zoom-popup .prj-img-text {margin-top: 5px;}
.popup-location .popup-align .un__text {margin-top: 10px;}
.popup-location .popup-align .input-field-wrapper {margin-top: 20px;}
.popup-location .popup-align .un__btn {margin-top: 40px;}
}
@media (max-width: 575px) {
.clarifying-popup .popup-align {padding: 15px 15px;}
.clarifying-popup .popup-align > * {margin-bottom: 15px;}
}
/*--------------------*/
/* Save - POPUP       */
/*--------------------*/
.save-project-popup .popup-container {max-width: 690px;}
.save-project-popup .popup-align {padding: 0;}
.save-prj-wrap .un__title {font-size: 44px;font-weight: 400;}
.save-prj-top {padding: 60px 30px;}
.save-prj-center .un__sub-title {padding: 0 30px;}
.prj-list {margin-top: 5px;overflow-y: auto;max-height: 305px;padding: 10px 40px;}
.prj-list li {margin-bottom: 20px;}
.prj-list li:last-child {margin-bottom: 0;}
.prj-list-item {cursor: pointer;position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.prj-list-item::before {content: "";position: absolute;z-index: 0;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);width: calc(100% + 20px);height: calc(100% + 10px);opacity: 0;visibility: hidden;background-color: var(--clr-grey-200);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.prj-list-item-label {position: relative;display: inline-block;text-align: center;margin-right: 15px;width: 42px;height: 42px;font-size: 18px;font-weight: 400;line-height: 42px;color: var(--clr-black);text-transform: uppercase;border-radius: 100%;background-color: var(--clr-grey-200);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.prj-list-item-title {position: relative;font-size: 18px;font-weight: 500;line-height: 1.3em;color: var(--clr-black);}
.save-prj-bottom {line-height: 0;padding: 30px 40px;border-top: 2px solid #e2e2e2;}
.save-new-prj-btn {cursor: pointer;display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.save-new-prj-btn i {position: relative;display: inline-block;-ms-flex-negative: 0;flex-shrink: 0;margin-right: 15px;width: 42px;height: 42px;border-radius: 100%;background-color: var(--clr-black);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.save-new-prj-btn i:before,
.save-new-prj-btn i:after {content: "";position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);width: 45%;height: 2px;background-color: var(--clr-white);}
.save-new-prj-btn i:after {-webkit-transform: translate(-50%, -50%) rotate(90deg);transform: translate(-50%, -50%) rotate(90deg);}
.save-new-prj-btn b {font-size: 18px;font-weight: 500;line-height: 1.5em;color: var(--clr-black);letter-spacing: var(--lts-2);}
@media (min-width: 1200px) {
.save-new-prj-btn:hover i {background-color: var(--clr-grey-400);}
.prj-list-item:hover::before {opacity: 1;visibility: visible;}
.prj-list-item:hover .prj-list-item-label {color: var(--clr-black);background-color: var(--clr-grey-400);}
}
@media (max-width: 575px) {
.save-prj-wrap .un__title {font-size: 30px;}
.save-prj-top {padding: 40px 15px 30px;}
.save-prj-center .un__sub-title {padding: 0 10px;}
.prj-list {max-height: 280px;padding: 0 15px 10px;}
.prj-list li {margin-bottom: 15px;}
.prj-list-item-title {font-size: 16px;}
.save-prj-bottom {padding: 15px 15px;}
.save-new-prj-btn b {font-size: 16px;}
}
/*--------------------*/
/*- Save Informer     */
/*--------------------*/
.save-informer {position: fixed;z-index: 101;bottom: 40px;left: 40px;-webkit-transform: translateY(calc(100% + 40px));transform: translateY(calc(100% + 40px));max-width: 720px;width: calc(100% - 30px);padding: 15px 20px;visibility: hidden;opacity: 0;-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-transition: var(--transition-1);transition: var(--transition-1);background-color: var(--clr-black);border-radius: 4px;display: block;}
.save-informer.active {opacity: 1;visibility: visible;-webkit-transform: translateY(0%);transform: translateY(0%);}
.save-informer-inner {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.save-informer-inner .un__btn {color: var(--clr-white);}
.save-informer-info {font-size: 18px;color: var(--clr-white);}
@media (max-width: 767px) {
.save-informer {bottom: 10px;left: 15px;width: calc(100% - 30px);padding: 15px;}
}
@media (max-width: 575px) {
.save-informer-inner {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-align: end;-ms-flex-align: end;align-items: flex-end;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.save-informer-info {margin-bottom: 5px;}
}
/*--------------------*/
/* VIDEO - POPUP      */
/*--------------------*/
.video-popup {position: fixed;z-index: 1000;left: 0;top: 0;width: 100%;height: 100%;left: -100%;-webkit-transition-delay: 0.3s;transition-delay: 0.3s;letter-spacing: 0;}
.video-popup.active {left: 0;-webkit-transition-delay: 0s;transition-delay: 0s;}
.video-popup-overlay {position: absolute;left: 0;top: -100px;right: 0;bottom: -100px;opacity: 0;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.video-popup.active .video-popup-overlay {opacity: 0.8;}
.video-popup-content {position: absolute;top: 0;width: 100%;height: 100%;overflow: auto;font-size: 0;text-align: center;-webkit-transition: opacity 0.3s ease,left 0s 0.3s,-webkit-transform 0.3s ease;transition: opacity 0.3s ease,left 0s 0.3s,-webkit-transform 0.3s ease;transition: transform 0.3s ease,opacity 0.3s ease,left 0s 0.3s;transition: transform 0.3s ease,opacity 0.3s ease,left 0s 0.3s,-webkit-transform 0.3s ease;-webkit-transform: scale(1.2);transform: scale(1.2);opacity: 0;left: -10000px;}
.video-popup.active .video-popup-content {-webkit-transform: scale(1);transform: scale(1);opacity: 1;left: 0;-webkit-transition: opacity 0.3s ease,left 0s 0s,-webkit-transform 0.3s ease;transition: opacity 0.3s ease,left 0s 0s,-webkit-transform 0.3s ease;transition: transform 0.3s ease,opacity 0.3s ease,left 0s 0s;transition: transform 0.3s ease,opacity 0.3s ease,left 0s 0s,-webkit-transform 0.3s ease;position: relative;}
.video-popup-content:after {content: "";display: inline-block;height: 100%;vertical-align: middle;}
.video-popup-container {display: inline-block;position: relative;text-align: left;background: var(--clr-white);vertical-align: middle;max-width: 100%;width: 100%;border-radius: 2px;overflow: hidden;height: 100%;}
.video-popup-layer {position: absolute;left: 0;bottom: 0;right: 0;height: 10000px;background: rgba(19, 19, 19, 0.45);}
.video-popup-align {overflow: hidden;max-height: 100vh;}
.video-popup .embed-responsive-16by9 {padding-bottom: 56.3%;}
.video-popup iframe {width: 100%;height: 100%;position: absolute;}
.video-popup-container .btn-close {background: var(--clr-white);position: absolute;top: 0;right: 0;z-index: 1000;width: 40px;height: 40px;}
.video-popup-container .btn-close:before,
.video-popup-container .btn-close:after {width: 75%;}
.video-block {z-index: -1;content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;visibility: hidden;-webkit-transition: var(--transition-1) 0.5s;transition: var(--transition-1) 0.5s;}
.video-block iframe {position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);width: 100%;height: 100%;}
.video-block .btn-close {position: absolute;top: 0;right: 0;z-index: 10;background-color: var(--clr-white);}
.video-wrap-block.active > .video-block {z-index: 50;opacity: 1;visibility: visible;}
/*--------------------*/
/*- Autocomplite      */
/*--------------------*/
.pac-container {background: #fff;border-radius: 0;border: none;padding: 10px 0;-webkit-box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.15);box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.15);}
.pac-container .pac-item {position: relative;cursor: pointer;margin: 0;border: none;padding: 0 15px;font-size: 14px;color: var(--clr-black);letter-spacing: var(--lts-4);line-height: 40px;font-weight: 400;display: block;-webkit-transition: all 0.25s linear;transition: all 0.25s linear;}
.pac-icon-marker {display: none !important;}
.pac-item-query {font-size: 16px;-webkit-transition: all 0.25s linear;transition: all 0.25s linear;}
.pac-container.pac-logo:after {content: none;}
/*--------------------*/
/* - 404              */
/*--------------------*/
.page-404 {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;min-height: calc(100vh - var(--header-h));}