/*form*/
.map-img {position: absolute;left: 0;top: 0;width: 66.316vw;z-index: -1;}
/*seo*/
.video {position: relative;background: #888;padding-top: 115%;overflow: hidden;}
.video video {position: absolute;left: 50%;top: 50%;min-width: 100%;width: auto;min-height: 100%;height: auto;-webkit-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);-webkit-transition: var(--transition-2);transition: var(--transition-2);}
.signature {position: relative;margin-top: 120px;max-width: 380px;margin-left: auto;margin-right: -30px;}
.seo-img {position: fixed;bottom: 0;right: calc(-100% - 30px);width: calc(100% - 80px);z-index: -100;}
/*media*/
@media (min-width: 1200px) {
.ml-80 {margin-left: 80px;}
}
@media (max-width: 1839px) {
.signature {margin-top: 80px;}
}
@media (max-width: 1199px) {
.signature {margin-right: 0;margin-top: 30px;}
.seo-img {position: relative;width: auto;right: auto;}
}
/*--------------------*/
/* - CATEGORIES       */
/*--------------------*/
.categories {margin: 0 -15px 60px;}
.category {padding: 0 15px;position: relative;text-align: center;overflow: hidden;}
.category:nth-child(n+4) {margin-top: 30px;}
.category-entry {background-color: var(--clr-grey3);display: block;position: relative;z-index: 1;padding-top: 125%;}
.category-entry:before {content: "";display: block;position: absolute;left: 0;top: 0;height: 0;right: 0;z-index: -1;}
.category:nth-child(6n+1) .category-entry:before {background-color: #EACC14;}
.category:nth-child(6n+2) .category-entry:before {background-color: #389727;}
.category:nth-child(6n+3) .category-entry:before {background-color: #3573BC;}
.category:nth-child(6n+4) .category-entry:before {background-color: #B30053;}
.category:nth-child(6n+5) .category-entry:before {background-color: #21487D;}
.category:nth-child(6n+6) .category-entry:before {background-color: #EACC14;}
.category-title,
.category-img {position: absolute;left: 0;width: 100%;}
.category:nth-child(6) .category-img img {left: auto;max-width: 100%;max-height: 100%;}
.category-title {font-size: 26px;font-weight: 500;line-height: 1.2;display: block;color: var(--clr-black);height: 25%;top: 0;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.category-img {width: 100%;height: 75%;bottom: 0;}
.category-img img {position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin: auto;max-width: 80%;max-height: 80%;width: auto;}
.category .review-icon::before,
.category .review-icon::after {content: "";display: block;position: absolute;background-color: var(--clr-white);border: none;top: 50%;left: 50%;}
.category .review-icon::before {width: 2px;height: 20px;margin-top: -10px;margin-left: -1px;}
.category .review-icon::after {width: 20px;height: 2px;margin-top: -1px;margin-left: -10px;}
/*media*/
@media (min-width: 1200px) {
.category-entry,
.category-title,
.category-entry:before {-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.category .category-img {-webkit-transition: var(--transition-2);transition: var(--transition-2);}
.category:hover .category-title {color: var(--clr-white);}
.category:hover .category-entry:before {height: 100%;}
.category:hover .review-icon {opacity: 1;visibility: visible;}
.category:hover .category-img {-webkit-transform: translateY(-20px);transform: translateY(-20px);}
}
@media (max-width: 1199px) {
.categories {margin-bottom: 30px;}
.category:nth-child(3n+2),
.category:nth-child(3n+3) {top: 0;}
.category .review-btn {display: none;}
}
@media (max-width: 767px) {
.categories {margin-right: -5px;margin-left: -5px;}
.category {padding: 0 5px;}
.category:nth-child(n+4) {margin-top: 10px;}
.category-title {font-size: 20px;}
}
@media (max-width: 575px) {
.category:nth-child(n+3) {margin-top: 10px;}
}
/*--------------------*/
/* - SERVICES         */
/*--------------------*/
.services-wrapp {margin-right: -30px;margin-left: -30px;}
.service-item {padding-right: 30px;padding-left: 30px;}
.service-item:nth-child(n+4) {margin-top: 90px;}
.service-title {font-size: 26px;font-weight: 500;line-height: 1.2;color: var(--clr-black);border-bottom: 1px solid #eaeaea;padding-bottom: 30px;margin-bottom: 35px;white-space: nowrap;}
.service-item li {font-size: 22px;line-height: 1.2;color: var(--clr-black);}
.service-item li:not(:last-child) {margin-bottom: 15px;}
.service-item li a,
.service-item li span {position: relative;padding-left: 36px;display: inline-block;vertical-align: top;cursor: pointer;}
.service-item li a:before,
.service-item li span::before {content: "";display: block;width: 10px;height: 2px;position: absolute;left: 0;top: 9px;background-color: #E0E0E0;}
/*media*/
@media (min-width: 1200px) {
.service-item li a:before,
.service-item li span,
.service-item li span::before {-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.service-item li > a:hover {color: var(--clr-red);}
.service-item li > *:hover:before {background: var(--clr-red);width: 24px;}
}
@media (max-width: 1560px) {
.services-wrapp {margin-right: -20px;margin-left: -20px;}
.service-item {padding-right: 20px;padding-left: 20px;}
.service-item:nth-child(n+4) {margin-top: 60px;}
.service-title {font-size: 22px;padding-bottom: 20px;}
.service-item li {font-size: 20px;}
}
@media (max-width: 1199px) {
.service-title {padding-bottom: 10px;margin-bottom: 15px;}
}
@media (max-width: 991px) {
.service-title {font-size: 20px;}
.service-item li {font-size: 18px;}
}
@media (max-width: 767px) {
.services-wrapp {margin-right: -10px;margin-left: -10px;}
.service-item {padding-right: 10px;padding-left: 10px;}
.service-item:nth-child(n+3) {margin-top: 40px;}
}
@media (max-width: 575px) {
.service-item:nth-child(n+3) {margin-top: 30px;}
.service-title {font-size: 17px;}
.service-item li {font-size: 16px;}
.service-item li a,
.service-item li span {padding-left: 22px;}
.service-item li a::before {top: 6px;}
}
/*--------------------*/
/* - COUNTERS          */
/*--------------------*/
.counter {text-align: center;}
.counter:nth-child(3n+3) {text-align: right;}
.counter:nth-child(n+4) {margin-top: 120px;}
.counter-block {position: relative;height: 100%;margin-bottom: 20px;}
.counter .text-sup {font-size: 60px;font-weight: 800;font-family: var(--ff-2);line-height: 1;}
.counter small {font-size: 26px;font-weight: 500;color: var(--clr-white);white-space: nowrap;position: absolute;left: 50%;bottom: -20%;-webkit-transform: translateX(-50%);transform: translateX(-50%);}
.counter b {font-size: 170px;line-height: 1;}
.svg-wrapper {width: 100%;height: 113px;font-weight: 800;stroke: var(--clr-text);-webkit-backface-visibility: hidden;backface-visibility: hidden;}
.svg-wrapper text {stroke-dasharray: 500;stroke-dashoffset: 500;fill: transparent;font-size: 150px;}
.svg-wrapper .text-bold {fill: #303030;}
.ie .svg-wrapper text,
body.touch-screen .svg-wrapper text {stroke-dasharray: 0;stroke-dashoffset: 0;}
.svg-wrapper.type-2 {height: 360px;stroke: #e6e6e6;}
.svg-wrapper.type-2 text {font-size: 150px;}
.svg-wrapper.type-2 .text-bold {fill: #f3f3f3;}
.dashed {-webkit-animation: dash 8s linear infinite;animation: dash 8s linear infinite;}
@keyframes dash {
from {stroke-dashoffset: 200;}
to {stroke-dashoffset: 0;}
}
@-webkit-keyframes dash {
from {stroke-dashoffset: 200;}
to {stroke-dashoffset: 0;}
}
/*media*/
@media (min-width: 1200px) {
@keyframes draw {
to {stroke-dashoffset: 0;}
}
@-webkit-keyframes draw {
to {stroke-dashoffset: 0;}
}
@keyframes fill_text {
to {fill: #303030;stroke: transparent;}
}
@-webkit-keyframes fill_text {
to {fill: #303030;stroke: transparent;}
}
@keyframes fill_text_2 {
to {fill: #f3f3f3;stroke: transparent;}
}
@-webkit-keyframes fill_text_2 {
to {fill: #f3f3f3;stroke: transparent;}
}
@keyframes fill_text_3 {
to {fill: var(--clr-grey3);stroke: transparent;}
}
@-webkit-keyframes fill_text_3 {
to {fill: var(--clr-grey3);stroke: transparent;}
}
.animated .svg-wrapper text {animation: draw 2s linear forwards;-webkit-animation: draw 2s linear forwards;}
.animated .svg-wrapper .text-bold {-webkit-animation: fill_text 0.8s linear forwards 1s;animation: fill_text 0.8s linear forwards 1s;}
.animated .svg-wrapper.type-2 .text-bold {-webkit-animation: fill_text_2 0.8s linear forwards 1s;animation: fill_text_2 0.8s linear forwards 1s;}
}
@media (max-width: 1839px) {
.svg-wrapper {height: 70px;}
.counter:nth-child(n+4) {margin-top: 70px;}
.counter b {font-size: 100px;}
.counter small {font-size: 22px;}
.counter .text-sup {font-size: 45px;}
}
@media (max-width: 1560px) {
.svg-wrapper.type-2 text {font-size: 130px;}
}
@media (max-width: 1199px) {
.svg-wrapper text {stroke-dasharray: 0;stroke-dashoffset: 0;}
.svg-wrapper .text-bold {fill: var(--clr-text);}
.svg-wrapper.type-2 {height: 225px;stroke: var(--clr-grey3);}
.svg-wrapper.type-2 .text-bold {fill: var(--clr-grey3);}
}
@media (max-width: 991px) {
.counter:nth-child(3n+3) {text-align: center;}
.counter:nth-child(n+3) {margin-top: 40px;}
.counter-block.type-1 {height: auto;}
}
@media (max-width: 767px) {
.svg-wrapper.type-2 text {font-size: 140px;}
}
@media (max-width: 575px) {
.full-height .counter-block {height: auto;margin-top: -80px;}
.counter:nth-child(n+3) {margin-top: 30px;}
.counter small {font-size: 18px;}
.svg-wrapper {height: 60px;}
.svg-wrapper text {font-size: 90px;}
.svg-wrapper.type-2 {height: 150px;}
}
/*---------------------*/
/* - SWIPER CUSTOM     */
/*---------------------*/
.swiper-entry,
.swiper-slide {position: relative;}
.swiper-container {margin-left: auto;margin-right: auto;position: relative;overflow: hidden;list-style: none;padding: 0;z-index: 1;}
.swiper-lazy-preloader {border: none;background-image: url(../img/icons/icon-loader.svg);background-position: center;background-size: contain;background-repeat: no-repeat;}
.swiper-container:not(.swiper-no-swiping) .swiper-wrapper {cursor: url(../img/drag.png) 16 9,ew-resize;}
.swiper-container-vertical:not(.swiper-no-swiping) .swiper-wrapper {cursor: url(../img/drag-vertical.png) 8 16,ns-resize;}
.swiper-controls-hide .swiper-wrapper {cursor: default !important;}
.swiper-controls-hide .swiper-button-wrap,
.swiper-controls-hide .swiper-button-lock,
.swiper-controls-hide .swiper-pagination-lock {display: none !important;}
.swiper-pagination.swiper-pagination-relative {position: relative;margin-top: 40px;bottom: auto !important;}
.swiper-pagination {line-height: 0;z-index: 2;bottom: 30px !important;}
.swiper-pagination-bullet {position: relative;width: 10px;height: 10px;background: var(--clr-grey2);opacity: 1;border-radius: 50%;border: 2px solid var(--clr-grey2);-webkit-transition: var(--transition);transition: var(--transition);}
.swiper-pagination-bullet-active {background: none;border-color: var(--clr-red);}
.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {margin: 0 20px !important;}
.swiper-button-next:after,
.swiper-button-prev:after {content: none;}
.swiper-button-prev,
.swiper-button-next {display: inline-block;position: relative;right: 0;left: 0;margin: 0;width: 40px;height: 20px;border: none;border-radius: 0;-webkit-transition: var(--transition);transition: var(--transition);}
.swiper-button-prev i,
.swiper-button-next i {display: inline-block;position: relative;width: 100%;height: 100%;}
.swiper-button-prev i::before,
.swiper-button-next i::before {content: "";position: absolute;right: 0;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);width: 100%;height: 2px;color: var(--clr-black);-webkit-backface-visibility: hidden;backface-visibility: hidden;background: currentColor;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.swiper-button-prev i::after,
.swiper-button-next i::after {content: "";position: absolute;right: 2px;top: 50%;-webkit-transform: translateY(-50%) rotate(-45deg);transform: translateY(-50%) rotate(-45deg);width: 12px;height: 12px;color: var(--clr-black);-webkit-backface-visibility: hidden;backface-visibility: hidden;border-right: 2px solid currentColor;border-bottom: 2px solid currentColor;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {opacity: 0.3;}
.swiper-button-prev {-webkit-transform: rotate(180deg);transform: rotate(180deg);}
.swiper-button-wrap {line-height: 0;text-align: right;margin-top: 30px;}
.swiper-button-inner {display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
@media (min-width: 1200px) {
.swiper-button-prev:hover i::before,
.swiper-button-prev:hover i::after,
.swiper-button-next:hover i::before,
.swiper-button-next:hover i::after {color: var(--clr-red);}
.swiper-pagination-bullet:hover {background: currentColor;}
}
@media (max-width: 767px) {
.swiper-pagination {bottom: 15px !important;}
.swiper-pagination.swiper-pagination-relative {margin-top: 25px;}
.swiper-pagination-bullet {width: 8px;height: 8px;border-width: 1px;}
.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {margin: 0 6px !important;}
}
@media (max-width: 575px) {
.swiper-container {overflow: visible;}
}
/*--------------------*/
/* - REVIEWS          */
/*--------------------*/
.reviews-slider .swiper-wrapper {margin-bottom: 90px;-ms-flex-wrap: nowrap !important;flex-wrap: nowrap !important;}
.review-img {position: relative;padding-bottom: 66%;margin-bottom: 25px;overflow: hidden;}
.review-img video {height: 126%;}
.review-img img {position: absolute;left: 0;right: 0;top: 0;bottom: 0;max-width: 100%;max-height: 100%;margin: auto;width: 100%;}
.video-block {position: relative;padding: 0;margin: 0;}
.video-block img {position: relative;}
.review-btn {position: absolute;top: 0;left: 0;width: 100%;height: 100%;cursor: pointer;}
.review-icon {position: absolute;left: 50%;top: 50%;width: 120px;height: 120px;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);border-radius: 50%;color: var(--clr-white);border: 1px solid var(--clr-white);display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;font-weight: 600;font-style: normal;font-size: 14px;letter-spacing: 0.1em;text-transform: uppercase;}
.review-icon:after {content: "";display: block;width: 0;height: 0;border-style: solid;border-width: 5px 0 5px 7px;border-color: transparent transparent transparent var(--clr-white);margin-left: 14px;position: relative;top: -3px;}
.review-title {font-size: 20px;font-weight: 500;line-height: 1.2;color: var(--clr-black);margin-bottom: 15px;}
.review-category {font-size: 19px;line-height: 1.4;}
/*media*/
@media (min-width: 992px) {
.reviews-slider .swiper-container:not(.swiper-no-swiping) .swiper-wrapper {cursor: default;}
.reviews-slider .swiper-wrapper {width: auto;-webkit-transform: none !important;transform: none !important;}
.reviews-slider .swiper-slide {width: 33.3333% !important;margin-right: 0 !important;}
.reviews-slider .swiper-pagination {display: none;}
}
@media (min-width: 1200px) {
.review-icon {opacity: 0;visibility: hidden;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.review-img:hover .review-icon {opacity: 1;visibility: visible;}
}
@media (max-width: 1839px) {
.reviews-slider .swiper-wrapper {margin-bottom: 70px;}
}
@media (max-width: 1199px) {
.reviews-slider .swiper-wrapper {margin-left: 0;margin-right: 0;}
.review-img {margin-bottom: 15px;}
.review-title {margin-bottom: 5px;}
.review-icon {font-size: 0;}
.review-icon:after {margin-left: 0;}
.video-block {margin: 0;}
}
@media (max-width: 991px) {
.reviews-slider {margin-bottom: 30px;}
.reviews-slider .swiper-wrapper {margin-bottom: 0;}
.reviews-slider .swiper-container {overflow: visible;}
.review-icon {width: 40px;height: 40px;}
.review-icon::after {top: 0;}
.reviews-slider .swiper-slide {max-width: none;-ms-flex-preferred-size: auto;flex-basis: auto;padding: 0;}
}
@media (max-width: 767px) {
.review-title {font-size: 16px;}
.review-category {font-size: 14px;}
}
/*--------------------*/
/* - CLIENTS          */
/*--------------------*/
.clients-slider .clients {margin: 0 -5px;-ms-flex-wrap: nowrap !important;flex-wrap: nowrap !important;}
.clients-slider .swiper-slide {-webkit-box-flex: 1;-ms-flex: 1 1 20%;flex: 1 1 20%;max-width: 20%;padding: 0 5px;margin-bottom: 10px;}
.client-img {padding-bottom: 73%;position: relative;z-index: 1;background: #F8F8F8;}
.client-img::before {content: "";display: block;position: absolute;z-index: -1;left: 0;bottom: 0;width: 100%;height: 0;background-color: var(--clr-white);}
.client-img img {position: absolute;inset: 0;max-width: 90%;max-height: 90%;margin: auto;width: auto;}
.clients-slider.size2 .swiper-slide {-webkit-box-flex: 1;-ms-flex: 1 1 12.5%;flex: 1 1 12.5%;max-width: 12.5%;}
.clients-slider.size2 .client-img {padding-bottom: 100%;}
/*media*/
@media (min-width: 1200px) {
.clients-slider .clients {width: auto;height: auto !important;-webkit-transform: none !important;transform: none !important;-ms-flex-wrap: wrap !important;flex-wrap: wrap !important;}
.client-img {cursor: pointer;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.client-img::before {-webkit-transition: inherit;transition: inherit;}
.clients-slider .swiper-slide:hover .client-img::before {height: 100%;}
.clients-slider .swiper-pagination {display: none;}
.clients-slider .swiper-slide {width: auto !important;margin-right: 0 !important;}
.clients-slider .swiper-container:not(.swiper-no-swiping) .swiper-wrapper {cursor: default;}
}
@media (max-width: 1199px) {
.clients-slider .swiper-container {overflow: visible;}
.clients-slider .clients {margin: 0;}
.clients-slider .swiper-slide {max-width: none;-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;padding: 0;margin-bottom: 0;}
.clients-slider.size2 .swiper-slide {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;max-width: none;}
}
@media (max-width: 767px) {
.client-img img {max-width: 80%;max-height: 80%;}
}
/*--------------------*/
/* - OTHERS           */
/*--------------------*/
/*brief*/
.brief-content {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.brief-content .title {margin-right: 50px;}
@media (max-width: 991px) {
.brief-content .round-btn {max-width: 220px;padding-top: 0;height: 220px;}
}
@media (max-width: 767px) {
.brief-content {display: block;}
.brief-content .title {margin-right: 0;margin-bottom: 30px;}
}
/*sort*/
.sort-wrapp {position: relative;z-index: 10;}
.sort-nav,
.sort-btn {margin-bottom: 55px;text-align: left;}
.sort-nav ul {font-size: 0;}
.sort-nav li {font-size: 0;}
.sort-nav li,
.sort-btn {display: inline-block;vertical-align: top;font-size: 20px;font-weight: 400;line-height: 1.2;}
.sort-nav li:not(:last-child) {margin-right: 50px;}
.sort-nav a {color: var(--clr-black);}
.sort-nav a.active {color: var(--clr-red);}
.sort-btn {display: block;border: 1px #ebebeb solid;width: 100%;padding: 15px 20px;position: relative;}
.sort-btn:after {content: "";display: block;position: absolute;right: 20px;top: 50%;background: url("../img/chevron-down.svg") no-repeat 0 0;width: 16px;height: 16px;margin-top: -8px;}
.sort-btn.active:after {-webkit-transform: scale(-1);transform: scale(-1);}
/*media*/
@media (min-width: 1200px) {
.sort-nav a:hover {color: var(--clr-red);}
}
@media (max-width: 1199px) {
.sort-nav {display: none;position: absolute;left: 0;right: 0;top: 40px;border: 1px solid #ebebeb;background-color: var(--clr-white);z-index: 5;padding: 20px;min-height: 0;}
.sort-nav,
.sort-btn {margin-bottom: 50px;}
.sort-btn {padding-top: 10px;padding-bottom: 10px;margin-bottom: 30px;font-size: 16px;}
.sort-nav li {display: block;}
.sort-nav li:not(:last-child) {margin-right: 0;margin-bottom: 10px;}
}
/*benefits*/
.benefits {counter-reset: number;margin: 0 -45px;}
.benefits [class*=col-] {padding: 0 45px;}
.benefits [class*=col-]:nth-child(n+3) {margin-top: 100px;}
.benefit-item {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;border-top: 2px solid #3c3c3c;padding-top: 30px;}
.benefit-title,
.benefit-desc {-webkit-box-flex: 1;-ms-flex: 1 1 50%;flex: 1 1 50%;max-width: 50%;}
.benefit-title {position: relative;padding-left: 40px;margin-right: 30px;}
.benefit-title::before {counter-increment: number;content: "0" counter(number) ".";font-size: 20px;color: var(--clr-red);position: absolute;left: 0;top: 1px;font-weight: 600;}
.benefit-desc {color: var(--clr-grey5);}
/*media*/
@media (max-width: 1839px) {
.benefits [class*=col-]:nth-child(n+3) {margin-top: 70px;}
}
@media (max-width: 1199px) {
.benefits {margin: 0 -15px;}
.benefits [class*=col-] {padding: 0 15px;}
.benefits [class*=col-]:nth-child(n+3) {margin-top: 50px;}
.benefit-item {display: block;}
.benefit-title,
.benefit-desc {max-width: 100%;}
.benefit-title {margin: 0 0 15px;}
}
@media (max-width: 991px) {
.benefits [class*=col-]:nth-child(n+2) {margin-top: 35px;}
}
@media (max-width: 767px) {
.benefit-title {padding-left: 35px;}
.benefit-title::before {font-size: 18px;}
.benefit-desc {font-size: 18px;}
}
/*--------------------*/
/* - BLOG             */
/*--------------------*/
.news-item:nth-child(n+3) {margin-top: 60px;}
.news-img {position: relative;padding-bottom: 64.4%;margin-bottom: 15px;overflow: hidden;}
.news-img img {position: absolute;left: 0;top: 0;height: 100%;-o-object-fit: cover;object-fit: cover;}
.news-img a {display: block;}
.news-item .date {position: absolute;bottom: 20px;left: 20px;font-size: 16px;font-weight: 400;line-height: 1;color: var(--clr-white);}
.news-title {overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;font-weight: 500;}
.news-title a {display: inline-block;vertical-align: top;}
/*media*/
@media (min-width: 1200px) {
.news-wrapp {margin-left: -40px;margin-right: -40px;}
.news-wrapp .news-item {padding-left: 40px;padding-right: 40px;}
.news-img img {-webkit-transition: var(--transition-2);transition: var(--transition-2);}
.news-img a:hover img {-webkit-transform: scale(1.1);transform: scale(1.1);}
.news-title {font-size: 28px;}
.news-title a:hover {color: var(--clr-red);}
}
@media (max-width: 1839px) {
.news-item:nth-child(n+3) {margin-top: 40px;}
}
@media (max-width: 1199px) {
.news-img {margin-bottom: 5px;}
}
@media (max-width: 767px) {
.news-item:nth-child(n+2) {margin-top: 30px;}
}
/*--------------------*/
/* - FOOTER           */
/*--------------------*/
footer {--right-side-width: 31%;min-height: 700px;position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;height: var(--footer-height);background-color: var(--bg-black1);}
.footer-left {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;padding-block: 75px;padding-inline: 70px;width: calc(100% - var(--right-side-width));}
.footer-left-top {display: -webkit-box;display: -ms-flexbox;display: flex;}
.footer-logo {max-width: 170px;-ms-flex-negative: 0;flex-shrink: 0;}
.footer-logo img {display: block;width: 100%;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.footer-links {margin-left: auto;-ms-flex-item-align: center;-ms-grid-row-align: center;align-self: center;}
.footer-links ul {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: start;-ms-flex-pack: start;justify-content: start;margin: 0 -30px -30px;}
.footer-links li {line-height: 0;margin: 0 30px 30px;}
.footer-links a {font-size: 16px;line-height: 1em;font-weight: 500;color: var(--clr-white);letter-spacing: 0.02em;}
.footer-left-bottom {margin-block: auto;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: space-evenly;-ms-flex-pack: space-evenly;justify-content: space-evenly;}
.footer-left-bottom > * {width: 40%;}
.contact-caption {font-size: var(--h-6);line-height: 1em;color: var(--clr-white);letter-spacing: 0.06em;margin-bottom: 20px;}
.contact-info {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-item-align: start;align-self: flex-start;margin-bottom: 20px;}
.contact-info:last-child {margin-bottom: 0;}
.contact-info-title {min-width: 100px;font-size: 18px;font-weight: 300;color: var(--clr-text2);text-transform: capitalize;}
.contact-info-list {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;font-size: calc(var(--h-6) - 2px);font-weight: 500;color: var(--clr-white);}
.contact-info-list > * {margin-bottom: 10px;}
.contact-info-list > *:last-child {margin-bottom: 0;}
.footer-right {width: var(--right-side-width);display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
.footer-right > * {-ms-flex-preferred-size: 50%;flex-basis: 50%;}
.footer-right-top {background-color: var(--bg-black3);display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;padding: 15px;}
.rs-email {font-size: 18px;font-weight: 300;color: var(--clr-text2);letter-spacing: 0.06em;text-transform: capitalize;text-align: center;margin-bottom: 20px;}
.rs-email a {display: inline-block;font-size: var(--h-4);line-height: 1.2em;color: var(--clr-white);font-weight: 400;letter-spacing: 0.02em;word-break: break-all;margin-top: 15px;}
.rs-email:last-child {margin-bottom: 0;}
.footer-right-bottom {background-color: var(--bg-black2);display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;text-align: center;padding: 15px;}
.footer-right-bottom > *:not(.btn) {font-size: 22px;line-height: 1.4em;font-weight: 300;color: var(--clr-text2);margin-bottom: 20px;}
.footer-bottom {position: absolute;bottom: 0;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;padding-inline: 70px;padding-bottom: 50px;width: calc(100% - var(--right-side-width));background-color: var(--bg-black1);}
.footer-bottom .social {margin-left: auto;}
.footer-copy {font-size: 14px;color: var(--clr-white);margin-right: 15px;}
.social ul {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-align: center;-ms-flex-align: center;align-items: center;margin: 0 -30px -30px;}
.social li {margin: 0 30px 30px;}
.social a {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;font-size: 18px;line-height: 1em;font-weight: 400;color: var(--clr-white);}
.social a b {margin-top: 1px;margin-left: 15px;}
.social svg {width: 20px;height: 20px;}
.social svg path {fill: var(--clr-text2);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
@media (min-width: 1200px) {
.footer-logo:hover img {opacity: 0.7;}
.footer-links a:hover {color: var(--clr-red);}
.rs-email a:hover {color: var(--clr-red);}
.social a:hover {color: var(--clr-red);}
.social a:hover svg path {fill: var(--clr-red);}
.contact-info-list > a:hover {color: var(--clr-red);}
}
@media (max-width: 1560px) {
footer {min-height: 520px;}
.footer-left {padding-block: 55px;padding-inline: 50px;}
.footer-links ul {margin: 0 -15px -30px;}
.footer-links li {margin: 0 15px 30px;}
.footer-bottom {padding-inline: 50px;padding-bottom: 30px;}
.footer-right-bottom > *:not(.btn) {font-size: 18px;margin-bottom: 15px;}
.footer-right-top .rs-email {font-size: 18px;}
.footer-right-top .rs-email a {font-size: 20px;margin-top: 10px;}
.contact-info-list {font-size: var(--h-6);}
.social ul {margin: 0 -15px -15px;}
.social li {margin: 0 15px 15px;}
}
@media (max-width: 1440px) {
footer {min-height: 460px;}
.footer-left {padding-block: 35px;padding-inline: 30px;}
.footer-bottom {padding-inline: 30px;padding-bottom: 15px;}
.footer-left-bottom > * {width: 50%;}
.social a {font-size: 16px;}
}
@media (max-width: 1199px) {
footer {min-height: 380px;}
.footer-left {padding-inline: 15px;}
.footer-bottom {padding-inline: 15px;}
.footer-logo {display: none;}
.footer-links {margin-left: 0;}
.footer-right-bottom br {display: none;}
.social a b {display: none;}
}
@media (max-width: 991px) {
footer {display: block;min-height: auto;}
.footer-left {width: 100%;padding-block: 35px 50px;}
.footer-left-bottom {padding-top: 50px;}
.footer-right {width: 100%;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row;}
.footer-bottom {position: relative;width: 100%;padding-block: 20px;}
}
@media (max-width: 767px) {
.footer-left-top {-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.footer-bottom {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.footer-bottom .social {-webkit-box-ordinal-group: 0;-ms-flex-order: -1;order: -1;margin-bottom: 15px;margin-left: 0;}
.footer-copy {margin-right: 0;}
.contact-item {text-align: center;}
.contact-info {display: block;margin-bottom: 20px;}
.contact-info-title {min-width: auto;font-size: 16px;margin-bottom: 5px;}
}
@media (max-width: 575px) {
.footer-links li {width: calc(33.3333333333% - 30px);text-align: center;}
.footer-right {display: block;}
.footer-right > * {padding-block: 30px;}
.footer-right-top .rs-email a {font-size: 22px;}
}
/*--------------------*/
/* - FORM ELEMENTS    */
/*--------------------*/
input {-webkit-appearance: none;-moz-appearance: none;font-size: 18px;font-weight: 400;color: var(--clr-black);}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {color: var(--clr-plc);font-weight: 300;}
input:-moz-placeholder,
textarea:-moz-placeholder {color: var(--clr-plc);font-weight: 300;}
input::-moz-placeholder,
textarea::-moz-placeholder {color: var(--clr-plc);font-weight: 300;}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {color: var(--clr-plc);font-weight: 300;}
input,
textarea,
select {border-radius: 0;background: none;border: none;margin: 0;width: 100%;padding: 0;}
textarea {display: block;resize: none;overflow: auto;}
select::-ms-expand {display: none;}
.input {position: relative;z-index: 1;height: 50px;font-size: 18px;font-weight: 400;line-height: 50px;padding: 15px 0;text-align: left;letter-spacing: 0.02em;text-overflow: ellipsis;color: var(--clr-black);border-bottom: 1px solid var(--clr-grey4);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.input:focus,
.input-field-wrapper.value .input {border-bottom-color: #999;}
textarea.input {height: 90px;line-height: 1.5em;}
.input-field-wrapper {width: 100%;position: relative;}
.form-block {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin: 0 -10px;}
.form-block > * {margin: 20px 10px 0;}
.form-block > *.w-50 {width: calc(50% - 20px);}
.form-block > *:last-child:is(.btn) {margin-top: 50px;}
@media (max-width: 575px) {
.form-block {margin: 0;}
.form-block > * {margin: 20px 0 0;}
.form-block > *.w-50 {width: 100%;}
.form-block > *:last-child:is(.btn) {margin-top: 40px;}
.form-block > *:first-child {margin-top: 0;}
}
/*--------------------*/
/* - POPUPS           */
/*--------------------*/
.popup-wrapper {position: fixed;z-index: 1000;left: 0;top: 0;width: 100%;height: 100%;left: -100%;-webkit-transition-delay: 0.3s;transition-delay: 0.3s;display: block;}
.popup-wrapper.active {left: 0;-webkit-transition-delay: 0s;transition-delay: 0s;}
.popup-wrapper .bg-layer {position: absolute;left: 0;top: -100px;right: 0;bottom: -100px;background: rgba(0, 0, 0, 0.7);opacity: 0;-webkit-transition: opacity var(--transition-1);transition: opacity var(--transition-1);}
.popup-wrapper.active .bg-layer {opacity: 1;}
.popup-content {position: absolute;inset: 0;font-size: 0;text-align: center;letter-spacing: 0;padding: 15px;overflow: auto;-webkit-overflow-scrolling: touch;opacity: 0;visibility: hidden;-webkit-transform: translateY(100px);transform: translateY(100px);-webkit-transition: -webkit-transform var(--transition-1);transition: -webkit-transform var(--transition-1);transition: transform var(--transition-1);transition: transform var(--transition-1),-webkit-transform var(--transition-1);}
.popup-content.active {-webkit-transform: translateY(0%);transform: translateY(0%);opacity: 1;visibility: visible;}
.popup-content:after {content: "";display: inline-block;vertical-align: middle;height: 100%;}
.popup-content .layer-close {position: absolute;left: 0;bottom: 0;right: 0;height: 10000px;}
.popup-container {position: relative;display: inline-block;vertical-align: middle;width: 100%;max-width: 776px;background: var(--clr-white);}
.popup-container .btn-close {position: absolute;z-index: 10;top: 15px;right: 15px;}
.popup-align {position: relative;padding: 60px 90px;}
.popup-align > * {margin-bottom: 15px;}
.popup-align > *:last-child {margin-bottom: 0;}
.popup-title {max-width: 420px;margin-inline: auto;font-weight: 600;}
.popup-title b {font-weight: inherit;color: var(--clr-red);}
@media (max-width: 575px) {
.popup-align {padding: 40px 15px;}
.popup-align > * {margin-bottom: 10px;}
}
/*--------------------*/
/* - 404              */
/*--------------------*/
