/*------------------------------------------*/
/* - Animation */
/*------------------------------------------*/
.item-animation .animate-item.to-up {
  opacity: 0;
  backface-visibility: hidden;
  will-change: transform;
  transform: translateY(50px);
  transition: opacity .5s, transform .5s linear;
}

.loaded {
  .item-animation .animate-item.to-up.animated {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }

  .item-animation .animate-item.anime-1 {
    transition-delay: .2s;
  }

  .item-animation .animate-item.anime-2 {
    transition-delay: .4s;
  }
}

@media (max-width: 991px) {
  .item-animation .animate-item.to-up {
    transform: translateY(30px);
  }
}