/*-----------------*/
/* - Animation     */
/*-----------------*/
.fadeInUp {
  opacity: 0;
  backface-visibility: hidden;
  transform: translateY(100px);
  transition: opacity .3s, transform .4s linear;
}

.loaded {
  .animate-item.fadeInUp.animated {
    opacity: 1;
    transform: translateY(0%);
  }

  .animate-item.delay-1 {
    transition-delay: .2s;
  }

  .animate-item.delay-2 {
    transition-delay: .3s;
  }

  .animate-item.delay-2 {
    transition-delay: .4s;
  }
}

@media (max-width: 767px) {
  .fadeInUp {
    transform: translateY(50px);
  }
}