/*--------------------*/
/* - BUTTONS          */
/*--------------------*/
.un__btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
  text-decoration: none;
  border: none;
  font-size: 18px;
  line-height: 1em;
  font-weight: 500;
  padding: 0;
  color: var(--clr-black);
  transition: var(--transition-1);


  &-primary {}

  &-secondary {}

  &-third {}
}