/*--------------------*/
/* - BUTTONS          */
/*--------------------*/
.un__btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
  text-decoration: none;
  border: none;
  font-size: 18px;
  line-height: 1em;
  font-weight: 500;
  padding: 0;
  color: var(--clr-black);
  transition: var(--transition-1);

  b {
    display: inline-block;
    position: relative;
    font-weight: inherit;
    letter-spacing: var(--lts-2);
  }

  &-primary {
    padding: 26px;
    text-align: center;
    min-width: 280px;
    color: var(--clr-white);
    background-color: var(--clr-grey-600);
    outline: 2px solid var(--clr-grey-600);
    outline-offset: -2px;
  }

  &-secondary {
    padding: 26px;
    text-align: center;
    min-width: 280px;
    color: var(--clr-grey-600);
    outline: 2px solid var(--clr-grey-600);
    outline-offset: -2px;
  }

  &-third {
    padding: 26px;
    text-align: center;
    min-width: 280px;
    color: var(--clr-black);
    background-color: var(--bg-3);
    outline: 2px solid var(--bg-3);
    outline-offset: -2px;
  }

  &-four {
    padding: 26px;
    text-align: center;
    min-width: 280px;
    color: var(--clr-white);
    background-color: var(--clr-black);
    outline: 2px solid var(--clr-black);
    outline-offset: -2px;
  }

  &-five {
    padding: 26px;
    text-align: center;
    min-width: 280px;
    color: var(--clr-grey-600);
    outline: 2px solid var(--clr-grey-600);
    outline-offset: -2px;
  }

  &-link {
    b {
      line-height: 1.55em;
      text-decoration: underline;
      text-decoration-color: currentColor;
      text-decoration-thickness: 2px;
      text-underline-offset: 6px;
      transition: var(--transition-1);
    }
  }

  &-link-2 {
    display: inline-block;

    b {
      display: inline;
      vertical-align: middle;
      line-height: 1.55em;
      text-decoration: underline;
      text-decoration-color: currentColor;
      text-decoration-thickness: 2px;
      text-underline-offset: 6px;
      transition: var(--transition-1);
    }

    i {
      vertical-align: bottom;
      display: inline-block;
      position: relative;
      margin-left: 15px;
      margin-bottom: 4px;
      width: 40px;
      height: 20px;
      transition: var(--transition-1);

      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 2px;
        color: var(--clr-black);
        backface-visibility: hidden;
        background: currentColor;
      }

      &::after {
        content: '';
        position: absolute;
        right: 2px;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        width: 12px;
        height: 12px;
        color: var(--clr-black);
        backface-visibility: hidden;
        border-right: 2px solid currentColor;
        border-bottom: 2px solid currentColor;
      }
    }
  }

  &-back {
    display: inline-flex;
    align-items: center;
    flex-direction: row-reverse;

    b {
      line-height: 1.55em;
      letter-spacing: var(--lts-2);

      &::before {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: currentColor;
        transition: var(--transition-1);
      }
    }

    i {
      display: inline-block;
      position: relative;
      margin-right: 15px;
      width: 40px;
      height: 20px;
      transform: rotate(180deg);

      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 2px;
        color: var(--clr-black);
        backface-visibility: hidden;
        background: currentColor;
      }

      &::after {
        content: '';
        position: absolute;
        right: 2px;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        width: 12px;
        height: 12px;
        color: var(--clr-black);
        backface-visibility: hidden;
        border-right: 2px solid currentColor;
        border-bottom: 2px solid currentColor;
      }
    }
  }

  &-small {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid var(--clr-grey-600);
    outline-offset: -2px;

    b {
      font-size: 14px;
      font-weight: 600;
      padding: 12px 18px;
      color: var(--clr-grey-600);
      transition: var(--transition-1);
    }
  }

  &-xs {
    padding: 21px 10px;
    min-width: 250px;
  }
}

.btn-close {
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 1;
  width: 26px;
  height: 26px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 2px;
    width: 100%;
    background: var(--clr-black);
    transition: var(--transition-1);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.un__simple-link,
a.un__simple-link {
  display: inline-block;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
  border: none;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 500;
  padding: 0;
  color: var(--clr-black);
  letter-spacing: var(--lts-2);
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
  transition: var(--transition-1);
}

.un__play-btn {
  position: absolute;
  z-index: 30;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  span {
    display: block;
    position: relative;
    width: 112px;
    height: 112px;
    margin: 0 auto;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(33, 33, 33, 0.7);
      border: 1px solid #E7E7E7;
      border-radius: 100%;
      opacity: 0.5;
      transition: var(--transition-1);
    }

    &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      height: 50%;
      opacity: 0.6;
      border-radius: 100%;
      background-color: #FFFFFF;
      transition: var(--transition-1);
    }

    i {
      display: inline-block;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: calc(50% + 1px);
      transform: translate(-50%, -50%);
      border-top: 12px transparent solid;
      border-bottom: 12px transparent solid;
      border-left: 19px #FF3333 solid;
    }
  }

  b {
    display: block;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5em;
    color: var(--clr-white);
    letter-spacing: var(--lts-7);
    text-transform: uppercase;
  }
}

.un__btn-up {
  display: none;
}

.xl-full-width {
  width: 100%;
}

:lang(es),
:lang(fr) {
  .un__btn {
    &-link {
      b {
        text-decoration: underline;
        text-decoration-thickness: 2px;
      }
    }

    &-link-2 {
      b {
        text-decoration: underline;
        text-decoration-thickness: 2px;
      }
    }
  }

  .un__simple-link {
    text-decoration: none;
  }
}

@media (min-width: 1200px) {
  .btn-close:hover {

    &::before,
    &::after {
      background: var(--clr-red);
    }
  }

  .un__btn:hover b {
    text-decoration-color: transparent;
  }

  .un__btn-link-2:hover {
    i {
      width: 30px;
    }
  }

  .un__btn-primary:hover {
    color: var(--clr-black);
    background-color: var(--clr-white);
  }

  .un__btn-secondary:hover {
    color: var(--clr-white);
    background: var(--clr-grey-600);
  }

  .un__btn-third:hover {
    background-color: transparent;
  }

  .un__btn-four:hover {
    color: var(--clr-black);
    background-color: transparent;
  }

  .un__btn-five:hover {
    color: var(--clr-white);
    background: var(--clr-red);
    outline-color: var(--clr-red);
  }

  .un__btn-small:hover {
    background: var(--clr-grey-600);

    b {
      color: var(--clr-white);
    }
  }

  .un__btn-back:hover b::before {
    background-color: transparent;
  }

  .un__simple-link:hover,
  a.un__simple-link:hover {
    text-decoration-color: currentColor;
  }

  .un__play-btn:hover {
    span {
      &:before {
        opacity: 1;
      }

      &:after {
        width: 60%;
        height: 60%;
        opacity: 0.8;
      }
    }
  }

  :lang(es),
  :lang(fr) {
    .un__btn {
      &-link:hover {
        b {
          text-decoration: none;
        }
      }

      &-link-2:hover {
        b {
          text-decoration: none;
        }
      }
    }

    .un__simple-link:hover {
      text-decoration-thickness: 2px;
      text-decoration: underline;
    }
  }
}

@media (max-width: 1199px) {
  .un__play-btn {
    span {
      width: 80px;
      height: 80px;

      i {
        border-top: 7px transparent solid;
        border-bottom: 7px transparent solid;
        border-left: 14px #FF3333 solid;
      }
    }

    b {
      margin-top: 10px;
      font-size: 13px;
    }
  }
}

@media (max-width: 991px) {
  .un__btn-up {
    position: fixed;
    z-index: 98;
    right: 15px;
    bottom: 52px;
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    transform: scale(0);
    transition: var(--transition-1);

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background: var(--clr-grey-400);
      transition: var(--transition-1);
    }

    i {
      display: block;
      position: absolute;
      width: calc(100% - 14px);
      height: calc(100% - 14px);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      background: var(--clr-grey-600);
      transition: var(--transition-1);

      &::before {
        content: '';
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%) rotate(-45deg);
        width: 30%;
        height: 30%;
        border-top: 2px solid var(--clr-white);
        border-right: 2px solid var(--clr-white);
        transition: var(--transition-1);
      }

      &::after {
        content: '';
        position: absolute;
        top: 24%;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 50%;
        background-color: var(--clr-white);
        transition: var(--transition-1);
      }
    }

    &.anim-arrow {

      &::before {
        width: 70%;
        height: 70%;
      }

      i {

        &::before,
        &:after {
          opacity: 0;
        }
      }
    }
  }

  .un__btn-up.scrolled {
    transform: scale(1);
  }

  .un__btn-xs {
    font-size: 16px !important;
    padding: 15px 5px !important;
    min-width: 180px !important;
  }
}

@media (max-width: 575px) {
  .sm-full-width {
    width: 100%;
  }

  .un__btn {
    font-size: 17px;

    &-primary,
    &-secondary,
    &-third,
    &-four,
    &-five {
      min-width: 180px;
      padding: 20px 10px;
    }

    &-link-2 {
      i {
        margin-bottom: 1px;
      }
    }
  }

  .un__simple-link {
    font-size: 17px;
  }
}