/*--------------------*/
/* - COUNTERS         */
/*--------------------*/
.counter {
  text-align: center;
}

.counter:nth-child(3n+3) {
  text-align: right;
}

.counter:nth-child(n+4) {
  margin-top: 120px;
}

.counter-block {
  position: relative;
  height: 100%;
  margin-bottom: 20px;
}

.counter .text-sup {
  font-size: 60px;
  font-weight: 800;
  font-family: var(--ff-2);
  line-height: 1;
}

.counter small {
  font-size: 26px;
  font-weight: 500;
  color: var(--clr-white);
  white-space: nowrap;
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translateX(-50%);
}

.counter b {
  font-size: 170px;
  line-height: 1;
}

.svg-wrapper {
  width: 100%;
  height: 113px;
  font-weight: 800;
  stroke: var(--clr-text);
  backface-visibility: hidden;
}

.svg-wrapper text {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  fill: transparent;
  font-size: 150px;
}

.svg-wrapper:not(.type2) .text-bold {
  fill: #303030;
}

.ie .svg-wrapper text,
body.touch-screen .svg-wrapper text {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}

/*media*/
@media(min-width:1200px) {
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes fill_text {
    to {
      fill: #303030;
      stroke: transparent;
    }
  }

  .animated .svg-wrapper text {
    animation: draw 2s linear forwards 1s;
  }

  .animated .svg-wrapper .text-bold {
    animation: fill_text .8s linear forwards 3s;
  }
}

@media(max-width:1839px) {
  .svg-wrapper {
    height: 70px;
  }

  .counter:nth-child(n+4) {
    margin-top: 70px;
  }

  .counter b {
    font-size: 100px;
  }

  .counter small {
    font-size: 22px;
  }

  .counter .text-sup {
    font-size: 45px;
  }
}

@media(max-width:1199px) {
  .svg-wrapper text {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }

  .svg-wrapper .text-bold {
    fill: var(--clr-text);
  }
}

@media(max-width:991px) {
  .counter:nth-child(3n+3) {
    text-align: center;
  }

  .counter:nth-child(n+3) {
    margin-top: 40px;
  }
}

@media(max-width:575px) {
  .counter:nth-child(n+3) {
    margin-top: 30px;
  }

  .counter small {
    font-size: 18px;
  }

  .svg-wrapper {
    height: 60px;
  }

  .svg-wrapper text {
    font-size: 90px;
  }
}