/*--------------------*/
/* - FORM ELEMENTS    */
/*--------------------*/
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 18px;
  font-weight: 400;
  color: var(--clr-black);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: var(--clr-black);
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: var(--clr-black);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: var(--clr-black);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: var(--clr-black);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none
}

input,
textarea,
select {
  border-radius: 0;
  background: none;
  border: none;
  margin: 0;
  width: 100%;
  padding: 0;
}

textarea {
  display: block;
  resize: none;
  overflow: auto;
}

select::-ms-expand {
  display: none;
}

.input {
  position: relative;
  z-index: 1;
  height: 54px;
  font-size: 18px;
  font-weight: 500;
  line-height: 38px;
  padding: 16px 40px 0 15px;
  text-align: left;
  text-overflow: ellipsis;
  color: var(--clr-black);
  transition: var(--transition-1);
}

.input:not(textarea) {
  box-shadow: inset 0 -2px 0 0 var(--clr-grey-600);
}

textarea.input {
  height: 156px;
  line-height: 1.5em;
  border: 2px solid var(--clr-grey-600);
  outline-offset: -1px;
  transition: var(--transition-1);
}

.input-field-wrapper {
  position: relative;

  &::before {
    content: '!';
    position: absolute;
    z-index: 0;
    top: 17px;
    right: 15px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--clr-white);
    background-color: var(--clr-red);
    transform: scale(0);
    backface-visibility: hidden;
    transition: var(--transition-1);
  }

  &::after {
    content: attr(data-descr);
    display: block;
    padding-left: 15px;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5em;
    color: var(--clr-grey-600);
    letter-spacing: var(--lts-4);
  }
}

.input-placeholder {
  display: inline-block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 15px;
  font-size: 18px;
  line-height: 1em;
  font-weight: 500;
  color: var(--clr-black);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  backface-visibility: hidden;
  transform: translateY(18px);
  transition: var(--transition-1);

  b {
    opacity: .5;
  }
}

.input-field-wrapper.focus,
.input-field-wrapper.value {
  .input-placeholder {
    z-index: 1;
    font-size: 13px;
    transform: translateY(0%);
    color: var(--clr-grey-600);
  }

  .input:not(textarea) {
    box-shadow: inset 0 -3px 0 0 var(--clr-black);
  }

  textarea.input {
    border-color: var(--clr-black);
  }
}

.input-field-wrapper.invalid,
.input-field-wrapper.invalid.value {
  &::before {
    transform: scale(1);
  }

  .input-placeholder {
    color: var(--clr-error);
  }

  .input:not(textarea) {
    box-shadow: inset 0 -2px 0 0 var(--clr-error);
  }
}

.input-field-wrapper.invalid.focus:not(.value) {
  .input:not(textarea) {
    box-shadow: inset 0 -3px 0 0 var(--clr-error);
  }
}

.input-field-desc {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.5em;
  color: var(--clr-grey-600);
  letter-spacing: var(--lts-4);
  padding-left: 15px;
}

.input-field-info {
  position: absolute;
  z-index: 3;
  top: 18px;
  right: -32px;

  i {
    cursor: pointer;
    display: block;
    width: 16px;
    height: 16px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    line-height: 13px;
    color: var(--clr-grey-600);
    border-radius: 100%;
    border: 2px solid var(--clr-grey-600);
  }

  &:hover {
    .input-field-info-inner {
      opacity: 1;
      visibility: visible;
    }
  }
}

.input-field-info-inner {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateY(100%);
  width: 275px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3em;
  letter-spacing: var(--lts-4);
  color: var(--clr-grey-600);
  background-color: var(--clr-white);
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-1);
}

.form-block {
  &+& {
    margin-top: 70px;
  }

  .row {
    --bs-gutter-x: 30px;
    --bs-gutter-y: 30px;
  }

  >* {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  >*+.un__btn {
    margin-top: 40px;
  }
}

.form-wrap {
  >*+.un__btn {
    margin-top: 40px;
  }
}

.form-caption {
  position: relative;
  z-index: 1;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33em;
  color: var(--clr-red);
  letter-spacing: var(--lts-6);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.form-caption-2 {
  position: relative;
  z-index: 1;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.5em;
  color: var(--clr-black);
  letter-spacing: var(--lts-4);
  margin-bottom: 10px;
}

.field-search {

  &.focus .field-search-buttons,
  &.value .field-search-buttons {

    >svg,
    >img {
      opacity: 0;
      visibility: hidden;
    }

    .btn-close {
      opacity: 1;
      visibility: visible;
    }
  }
}

.field-search-buttons {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 28px;
  height: 28px;

  >* {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn-close {
    opacity: 0;
    visibility: hidden;
  }
}

.field-calendar {
  &::before {
    content: '';
    border-radius: 0;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/icon-calendar.svg');
    transform: scale(1);
  }
}

@media (max-width: 1199px) {
  .input-field-info {
    position: absolute;
    top: 0;
    right: 0;
  }

  .input-field-info-inner {
    position: absolute;
    bottom: -10px;
    left: auto;
    right: 0;
  }
}

@media (max-width: 767px) {
  .input {
    font-size: 16px;
  }

  .input-placeholder {
    font-size: 16px;
  }
}

/*--------------------*/
/* - CHECK BOX        */
/*--------------------*/
.ch-box-entry {
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 0;
  line-height: 0;
  font-size: 0;
  min-width: 30px;
  min-height: 20px;
  margin: 0 15px;
}

.ch-box-entry input {
  display: none;
}

.ch-box-entry span {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33em;
  color: var(--clr-black);
  letter-spacing: var(--lts-2);
  padding-left: 33px;
  transition: var(--transition-1);
}

.ch-box-entry span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--clr-black);
  border-radius: 2px;
  transition: var(--transition-1);
}

.ch-box-entry span:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 6px;
  width: 10px;
  height: 10px;
  z-index: 1;
  transform: scale(0);
  backface-visibility: hidden;
  background-color: var(--clr-black);
  transition: var(--transition-1);
}

.ch-box-entry {

  input[type="radio"]+span:before,
  input[type="radio"]+span:after {
    border-radius: 100%;
  }
}

.ch-box-entry {
  input[type="checkbox"]+span:after {
    width: 6px;
    height: 10px;
    transform: rotate(45deg) scale(0);
    margin: -1px 0 0 2px;
    border-right: 2px solid var(--clr-white);
    border-bottom: 2px solid var(--clr-white);
  }
}

.ch-box-entry input:checked+span:after {
  transform: scale(1);
}

.ch-box-entry input[type="checkbox"]:checked+span::before {
  background-color: var(--clr-red);
  border-color: var(--clr-red);
}

.ch-box-entry input[type="checkbox"]:checked+span:after {
  background-color: var(--clr-red);
  transform: rotate(45deg) scale(1);
}

span.wpcf7-form-control-wrap {
  padding-left: 0;
}

.wpcf7-form-control-wrap {
  &:before {
    display: none;
  }
}

.wpcf7-form-control-wrap *:not(.wpcf7-list-item-label) {
  &:before {
    display: none;
  }
}

.ch-box-entry span *:not(.wpcf7-list-item-label) {
  padding-left: 0;
  margin: 0;
}

/* Change Autocomplete styles in Chrome*/
.input-field-wrapper.focus .input:not(textarea):-webkit-autofill,
.input-field-wrapper.value .input:not(textarea):-webkit-autofill,
.input-field-wrapper.focus .input:not(textarea):-webkit-autofill:hover,
.input-field-wrapper.value .input:not(textarea):-webkit-autofill:hover,
.input-field-wrapper.focus .input:not(textarea):-webkit-autofill:focus,
.input-field-wrapper.value .input:not(textarea):-webkit-autofill:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: var(--clr-black);
  -webkit-box-shadow: inset 0 -3px 0 0 var(--clr-black), inset 0 0 100px var(--bg-2);
  transition: background-color 5000s ease-in-out 0s;
}

/*--------------------*/
/* - UPLOAD WRAPPER   */
/*--------------------*/
.upload-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  font-size: 0;

  &::before {
    content: '';
    border-radius: 0;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/icon-load.svg');
    transform: scale(1);
  }
}

.upload-wrapper input {
  display: none;
  padding: 0
}

.upload-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
}

.upload-wrapper .file-name {
  position: relative;
  cursor: pointer;
  z-index: 1;
  width: 100%;
  height: 54px;
  transition: var(--transition-1);
  box-shadow: inset 0 -2px 0 0 var(--clr-grey-600);
}

.input-field-wrapper.upload-wrapper.value {
  &::after {
    display: none;
  }

  .input-placeholder {
    z-index: 0;
    left: 15px;
    font-size: 18px;
    color: var(--clr-black);
    transform: translateY(18px);
  }
}

.upload-file-item {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  padding: 5px 35px 5px 10px;
  border-radius: 4px;
  background-color: var(--clr-grey-200);
  color: var(--clr-black);
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
}

.upload-file-close {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  top: 7px;
  right: 10px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: var(--clr-grey-600);
  transition: var(--transition-1);

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 60%;
    height: 2px;
    background-color: var(--clr-white);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@media (min-width: 1200px) {
  .upload-file-close:hover {
    background-color: var(--clr-red);
  }
}