/*--------------------*/
/* - PROJECT HERO     */
/*--------------------*/
.page-nav {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  padding-block: 25px;
  background: #F8F8F8;
  transition: var(--transition-1);

  a {
    display: block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: var(--clr-grey5);

    &.active {
      color: var(--accent-clr);
    }
  }

  &.is-active {
    transform: translate(0%, -50%);
  }
}

.project-icons{
  position: fixed;
  z-index: 99;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  font-size:0;

  a {
    display: block;
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;

    &:not(:last-child) {
      margin-bottom:30px;
    }
  }
}

.prj-hero {
  .service-item {
    display: inline-block;
    text-align: left;
    padding: 0;
  }

  .service-title {
    padding-bottom: 0;
    border: 0;
  }
}

.prj-hero-info {
  margin-top: 30px;

  .tags {
    margin-bottom: 30px;
  }
}

.prj-hero-text {
  font-size: var(--h-6);
  font-weight: 200;
  line-height: 1.46em;
  color: var(--clr-plc);

  b {
    font-weight: 500;
    color: var(--clr-black);
  }
}

.prj-hero-text+.hero-link {
  margin-top: 25px;
}

.hero-link {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 1em;
  letter-spacing: .15em;
  text-transform: uppercase;
  color: var(--accent-clr);

  svg {
    display: inline-block;
    margin-left: 15px;
    margin-top: -5px;
    width: 21px;
    height: 21px;

    path {
      fill: currentColor;
    }
  }

  b {
    display: inline-block;
    position: relative;
  }

  b::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 1px;
    background-color: currentColor;
    transition: var(--transition-1);
  }
}

.prj-hero-img {
  position: relative;
  display: block;
  padding-top: 42%;
  background-color: var(--accent-clr);
  margin-block: 100px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.w-100 {
  max-width: 100% !important;
  width: 100% !important;
}

@media(min-width:1200px) {
  .page-nav {
    a:hover {
      text-decoration: underline;
    }
  }
}

@media(min-width:1200px) {
  .hero-link:hover {
    b:before {
      width: 100%;
    }
  }

  .prj-hero {
    .service-item li>*:hover:before {
      background-color: var(--accent-clr);
    }
  }
}

@media(max-width:1640px) {
  .prj-hero-info {
    margin-top: 20px;
  }

  .prj-hero-info .tags {
    margin-bottom: 20px;
  }

  .prj-hero-img {
    margin-block: 50px;
  }

  .hero-link {
    font-size: 13px;

    svg {
      width: 18px;
      height: 18px;

      path {
        fill: currentColor;
      }
    }
  }
  .project-icons{ 
    a {
      width: 50px;
      height: 50px;
      line-height: 50px;
  
      &:not(:last-child) {
        margin-bottom:20px;
      }
    }
  }
}

@media(max-width:991px) {
  .prj-hero-info .tags {
    margin-bottom: 15px;
  }

  .prj-hero-info {
    margin-top: 15px;
  }


  .prj-hero .service-item {
    margin-top: 15px;
  }

}

@media(max-width:767px) {
  .page-nav,.project-icons {
    display: none;
  }
}

@media(max-width:575px) {
  .prj-hero-img {
    padding-top: 57%;
    margin-block: 30px;
  }
}


/*--------------------*/
/* - PROJECT HERO     */
/*--------------------*/
.ft-row {
  --bs-gutter-y: 10px;
  --bs-gutter-x: 10px;
}

.ft-item {
  display: flex;
  flex-direction: column;
  padding: 30px;
  min-height: 214px;
  height: 100%;
  border: 1px solid var(--clr-grey);
}

.ft-item-icon {
  max-width: 60px;
  margin: 30px auto 20px;

  img {
    vertical-align: top;
    max-width: 100%;
  }
}

.ft-item-title {
  font-size: var(--h-6);
  line-height: 1.4em;
  text-align: center;
}


@media(max-width:1640px) {
  .ft-item {
    padding: 15px;
    min-height: 180px;
  }
}

@media(max-width:1199px) {
  .ft-item {
    min-height: 160px;
  }

  .ft-item-icon {
    max-width: 50px;
    margin: 20px auto 15px;
  }
}
@media(max-width:767px) {
  .ft-item-title br{display:none;}
}


/*--------------------*/
/* - DEVICE SCREEN    */
/*--------------------*/
.device-screen-slider {
  .swiper-pagination-bullet-active {
    border-color: var(--accent-clr);
  }
}

.device-phone {
  position: relative;
  padding: 14.12% 7.06% 7.06%;
  border-radius: 40px;
  border: 2px solid #EBEBEB;

  &:before {
    content: '';
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    height: 8px;
    width: 36px;
    border-radius: 4px;
    border: 2px solid #EBEBEB;
  }

  &:after {
    content: '';
    position: absolute;
    top: 22px;
    left: calc(50% + 32px);
    transform: translateX(-50%);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    border: 2px solid #EBEBEB;
  }
}

.device-screen {
  overflow: hidden;
  position: relative;
  padding-top: 212%;
  border-radius: 24px;

  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.device-phone.type2{
  padding: 0;
  border: none;
}

.device-phone.type2:before,.device-phone.type2:after{
  content: none;
}

.device-phone.type2 .device-screen{
  padding-top: 177%;
  border-radius: 30px;
}

.device-phone.type3{
  padding: 0;
  border: none;
}

.device-phone.type3:before,.device-phone.type3:after{
  content: none;
}

.device-phone.type3 .device-screen{
  padding-top: 134%;
  border-radius: 20px;
}

/*--------------------*/
/* - SOLUTION         */
/*--------------------*/
.solution-row {
  --bs-gutter-x: 60px;
  --bs-gutter-y: 60px;
}

.solution-img {
  position: relative;
  line-height: 0;
  background-color: var(--clr-grey3);

  img {
    width: 100%;
  }

  &.solution-bg {
    background-color: var(--accent-clr);
  }
}

@media (min-width: 768px) {
  .col-md-5 {
    width: 42.66666667%;
  }

  .col-md-7 {
    width: 57.33333333%;
  }
}

@media (max-width: 1640px) {
  .solution-row {
    --bs-gutter-x: 40px;
    --bs-gutter-y: 40px;
  }
}

@media (max-width: 1199px) {
  .solution-row {
    --bs-gutter-x: 30px;
    --bs-gutter-y: 30px;
  }
}

@media (max-width: 767px) {
  .solution-row {
    --bs-gutter-x: 15px;
    --bs-gutter-y: 15px;
  }
}


/*--------------------*/
/* - TECH-WRAP        */
/*--------------------*/
.tech-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  --t-items: 4;
  --t-items-margin: 10px;
  margin-top: calc(-1 * var(--t-items-margin));
  margin-inline: calc(-1 * var(--t-items-margin) / 2);
}

.tech-item {
  width: calc(100% / var(--t-items) - var(--t-items-margin));
  margin-inline: calc(var(--t-items-margin) / 2);
  margin-top: var(--t-items-margin);
  border: 1px solid #EBEBEB;
}

.tech-img {
  display: block;
  position: relative;
  padding-top: 100%;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 45%;
    max-height: 45%;
  }
}


@media (max-width: 1199px) {
  .tech-wrap {
    --t-items: 6;
  }
}

@media (max-width: 767px) {
  .tech-wrap {
    --t-items: 4;
  }
}

@media (max-width: 575px) {
  .tech-wrap {
    --t-items-margin: 5px;
  }
}

@media (max-width: 413px) {
  .tech-wrap {
    --t-items: 3;
  }
}