/*--------------------*/
/* - SERVICES         */
/*--------------------*/
.services-wrapp{margin-right: -30px;margin-left: -30px;}
.service-item{padding-right: 30px;padding-left: 30px;}
.service-item:nth-child(n+4){margin-top: 90px;}
.service-title{font-size: 26px;font-weight: 500;line-height: 1.2;color:var(--clr-black);border-bottom:1px solid #eaeaea;padding-bottom: 30px;margin-bottom: 35px;white-space: nowrap;}
.service-item li{font-size: 22px;line-height: 1.2;color:var(--clr-black);}
.service-item li:not(:last-child){margin-bottom: 15px;}
.service-item li a,.service-item li span{position: relative;padding-left: 36px;display: inline-block;vertical-align: top;}
.service-item li a:before,.service-item li span::before{content: '';display: block;width: 10px;height: 2px;position: absolute;left:0;top:9px;background-color: #E0E0E0;}
/*media*/
@media(min-width:1200px){
  .service-item li a:before,.service-item li span,.service-item li span::before{-webkit-transition: var(--transition-1);transition: var(--transition-1);}
  .service-item li a:hover{color:var(--clr-red);}
  .service-item li a:hover:before{background: var(--clr-red);width: 24px;}
}
@media(max-width:1560px){
  .services-wrapp{margin-right: -20px;margin-left: -20px;}
  .service-item{padding-right: 20px;padding-left: 20px;}
  .service-item:nth-child(n+4){margin-top: 60px;}
  .service-title{font-size: 22px;padding-bottom: 20px;}
  .service-item li{font-size: 20px;}
}
@media(max-width:1199px){
  .service-title{padding-bottom: 10px;margin-bottom: 15px;}
}
@media(max-width:991px){
  .service-title{font-size: 20px;}
  .service-item li{font-size: 18px;}
}
@media(max-width:767px){
  .services-wrapp{margin-right: -10px;margin-left: -10px;}
  .service-item{padding-right: 10px;padding-left: 10px;}
  .service-item:nth-child(n+3){margin-top: 40px;}
}
@media(max-width:575px){
  .service-item:nth-child(n+3){margin-top: 30px;}
  .service-title{font-size: 17px;}
  .service-item li{font-size: 16px;}
  .service-item li a,.service-item li span{padding-left: 22px;}
  .service-item li a::before{top:6px;}
}