/*---------------------*/
/* - SWIPER CUSTOM     */
/*---------------------*/
.swiper-entry,
.swiper-slide {
  position: relative;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-lazy-preloader {
  border: none;
  background-image: url(../img/icons/icon-loader.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-container:not(.swiper-no-swiping) .swiper-wrapper {
  cursor: url(../img/drag.png) 16 9, ew-resize;
}

.swiper-container-vertical:not(.swiper-no-swiping) .swiper-wrapper {
  cursor: url(../img/drag-vertical.png) 8 16, ns-resize;
}

.swiper-controls-hide {
  .swiper-wrapper {
    cursor: default !important;
  }

  .swiper-button-wrap,
  .swiper-button-lock,
  .swiper-pagination-lock {
    display: none !important;
  }
}

.swiper-pagination.swiper-pagination-relative {
  position: relative;
  margin-top: 40px;
  bottom: auto !important;
}

.swiper-pagination {
  line-height: 0;
  z-index: 2;
  bottom: 30px !important;
}

.swiper-pagination-bullet {
  position: relative;
  width: 10px;
  height: 10px;
  background: $color-grey;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid $color-grey;
  transition: $transition;
}

.swiper-pagination-bullet-active {
  background: none;
  border-color: $color-red;
}

.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 20px !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: none;
}

.swiper-button-prev,
.swiper-button-next {
  display: inline-block;
  position: relative;
  right: 0;
  left: 0;
  margin: 0;
  width: 40px;
  height: 20px;
  border: none;
  border-radius: 0;
  transition: $transition;

  i {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 2px;
      color: var(--clr-black);
      backface-visibility: hidden;
      background: currentColor;
      transition: var(--transition-1)
    }

    &::after {
      content: '';
      position: absolute;
      right: 2px;
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
      width: 12px;
      height: 12px;
      color: var(--clr-black);
      backface-visibility: hidden;
      border-right: 2px solid currentColor;
      border-bottom: 2px solid currentColor;
      transition: var(--transition-1)
    }
  }

  &.swiper-button-disabled {
    opacity: .3;
  }
}

.swiper-button-prev {
  transform: rotate(180deg);
}

.swiper-button-wrap {
  line-height: 0;
  text-align: right;
  margin-top: 30px;
}

.swiper-button-inner {
  display: inline-flex;
  align-items: center;
}

@media (min-width: 1200px) {

  .swiper-button-prev,
  .swiper-button-next {
    &:hover i {

      &::before,
      &::after {
        color: var(--clr-red);
      }
    }
  }

  .swiper-pagination-bullet:hover {
    background: currentColor;
  }
}

@media (max-width: 1440px) {}

@media (max-width: 767px) {
  .swiper-pagination {
    bottom: 15px !important;
  }

  .swiper-pagination.swiper-pagination-relative {
    margin-top: 25px;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-width: 1px;
  }

  .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px !important;
  }
}

@media (max-width: 575px) {
  .swiper-container {
    overflow: visible;
  }
}