/*--------------------*/
/* - BANNER           */
/*--------------------*/
.full-height{position: relative;height: calc(100vh - 130px);padding: 50px 0;display: flex;justify-content: center;flex-direction: column;}
.banner-content .title{margin-bottom:20px;}
.banner-content .title b{color: var(--clr-red);font-weight: inherit;}
.logo-group{margin-top: 100px;display: flex;align-items: center;}
.logo-group a{max-width: 110px;flex: 1 0 auto;display: flex;filter:grayscale(1);cursor: pointer;}
.logo-group a:nth-child(1){max-width: 80px;}
.logo-group a:nth-child(3){max-width: 100px;}
.logo-group a:nth-child(4){max-width: 38px;}
.logo-group a:not(:last-child){margin-right: 55px;}
/*media*/
@media(min-width: 1200px){
  .logo-group a:hover{filter: none;}
}
@media(max-width: 1839px){
  .full-height{height: calc(100vh - 80px);min-height: 400px;}
  .logo-group{margin-top:45px;}
  .logo-group a:not(:last-child){margin-right: 45px;}
}
@media (min-width: 576px) and (max-width: 1199px){
  .full-height {
    height: auto;
    min-height: 0;
    padding: 0;
  }
}
@media(max-width: 1199px) {
  .banner-content{text-align:center;}
  .main-banner .sub-title{margin-bottom:30px;}
  .logo-group{justify-content:center;margin-bottom:30px;}
}
@media(max-width: 767px){
  .logo-group a:not(:last-child){margin-right: 20px;}
}
@media (max-width: 575px){
  .full-height {
    height: auto;
    padding: 20px 0 0;
  }

  .main-banner .full-height .counter-block{
    margin:0;
  }

  .main-banner .sub-title{
    margin-top: 20px;
  }

  .logo-group {
    margin: 0;
    margin-top: 20px;
    padding: 0 15px;
  }

  .logo-group a {
    max-width: 23%;
  }
}
