/*--------------------*/
/* - BANNER           */
/*--------------------*/
.full-height {
  position: relative;
  height: calc(100vh - 180px);
  padding: 50px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner-content .title {
  margin-bottom: 20px;
}

.banner-content .title b {
  color: var(--clr-red);
  font-weight: inherit;
}

.logo-group {
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.logo-group a {
  max-width: 110px;
  flex: 1 0 auto;
  display: flex;
  filter: grayscale(1);
  cursor: pointer;
}

.logo-group a:nth-child(1) {
  max-width: 80px;
}

.logo-group a:nth-child(3) {
  max-width: 100px;
}

.logo-group a:nth-child(4) {
  max-width: 38px;
}

.logo-group a:not(:last-child) {
  margin-right: 55px;
}

.banner .banner-num {
  position: relative;
  width: 100%;
  padding-top: 60%;
  overflow: hidden;
  font-size: var(--h-1);

  video{
    position: absolute;
    z-index: 0;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .num {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-size: 6.5em;
    line-height: 1em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    mix-blend-mode: screen;
    background-color: var(--clr-white);
  }
}

.banner .banner-num img{
  position: absolute;
  z-index: 0;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

// animation 1
.banner-num #animation{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
}

// animation 2
#animation2{
  position: absolute;
  z-index: 0;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

// animation 3
#animation3{
  animation: fade-in 1s ease-out forwards;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.wrapper2{
  position: relative;
  margin-bottom: -10px;
  margin-left: -10px;
}

.circle2{
  animation: rotate 5s infinite linear;
  border-radius: 50%;
  border: 1px solid transparent;
  height: 26px;
  position: relative;
  width: 26px;
  transition: border 1s ease-out;
}

.circle2:after{
  content: "";
  border-radius: 50%;
  background: var(--clr-black);
  position: absolute;
  height: 4px;
  top: -2px;
  left: calc(50% - 2px);
  width: 4px;
}

@keyframes rotate {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}



/*media*/
@media(min-width: 1200px) {
  .logo-group a:hover {
    filter: none;
  }
}

@media(max-width: 1839px) {
  .full-height {
    height: calc(100vh - 120px);
    min-height: 400px;
  }

  .logo-group {
    margin-top: 45px;
  }

  .logo-group a:not(:last-child) {
    margin-right: 45px;
  }
}

@media (min-width: 576px) and (max-width: 1199px) {
  .full-height {
    height: auto;
    min-height: 0;
    padding: 0;
  }
}

@media(max-width: 1199px) {
  .banner-content {
    text-align: center;
  }

  .main-banner .sub-title {
    margin-bottom: 30px;
  }

  .logo-group {
    justify-content: center;
    margin-bottom: 30px;
  }
  .banner .banner-num{
    padding-top: 20%;
  }
}

@media(max-width: 991px) {
  .banner .banner-num{
    padding-top: 25%;
  }
}

@media(max-width: 767px) {
  .logo-group a:not(:last-child) {
    margin-right: 20px;
  }
  .banner .banner-num{
    padding-top:40%;
  }
  #animation2{
    top: -90%;
  }
}

@media (max-width: 575px) {
  .full-height {
    height: auto;
    padding: 20px 0 0;
  }

  .main-banner .full-height .counter-block{
    margin:0;
  }

  .main-banner .sub-title{
    margin-top: 15px;
  }
  .logo-group {
    margin: 0;
    margin-top: 20px;
    padding: 0 15px;
  }

  .logo-group a {
    max-width: 23%;
  }
}
