/*--------------------*/
/* - HEADER           */
/*--------------------*/
:root {
  --h-height: 130px;
}

header {
  height: var(--h-height);
}

.header-wrap {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--clr-white);
  transition: var(--transition-1);

  &.scrolled {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .02);
  }
}

.header-wrap-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--h-height);
}

.header-wrap-left {
  display: flex;
  align-items: center;
}

.header-logo {
  max-width: 138px;

  img {
    width: 100%;
    display: block;
  }
}

.btn-burger {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--clr-black);
  margin-left: 80px;
  transition: var(--transition-1);
}

.burger {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 14px;
  color: currentColor;

  i {
    position: absolute;
    left: 0;
    top: 6px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transition: var(--transition-1);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 50%;
    background-color: currentColor;
    transition: var(--transition-1);
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    right: 0;
    bottom: 0;
  }
}

.burger-word {
  margin-left: 20px;
  margin-top: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 0;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: currentColor;

  b {
    font-weight: inherit;
    transition: var(--transition-1);

    &:first-child {
      display: block;
    }

    &:last-child {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.header-wrap-center {
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -30px -15px;
  }

  li {
    margin: 0 30px 15px;
  }

  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1em;
    color: var(--clr-black);
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.header-wrap-right {
  display: flex;
  align-items: center;
}

.header-phone {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1em;
  margin-right: 30px;
  letter-spacing: .05em;
  color: var(--clr-black);

  svg {
    margin-right: 10px;
    color: inherit;

    path {
      fill: currentColor;
      stroke: currentColor;
    }
  }

  b {
    margin-top: 1px;
  }
}

@media (min-width: 1200px) {

  .btn-burger:hover {
    color: var(--clr-red);

    .burger {

      &::before,
      &::after {
        width: 100%;
      }
    }
  }

  .header-wrap-center {
    a:hover {
      color: var(--clr-red);
    }
  }

  .header-phone:hover {
    color: var(--clr-red);
  }
}