/*--------------------*/
/* - HEADER           */
/*--------------------*/
:root {
  --h-height: 130px;
}

header {
  height: var(--h-height);
}

.header-wrap {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--clr-white);
  transition: var(--transition-1);

  &.scrolled {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .02);
  }
}

.header-wrap-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--h-height);
}

.header-wrap-left {
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
}

.header-logo {
  max-width: 138px;

  img {
    width: 100%;
    display: inline;
    line-height: 0;
  }
}

.btn-burger {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--clr-black);
  margin-left: 80px;
  transition: var(--transition-1);
}

.burger {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 14px;
  color: currentColor;

  i {
    position: absolute;
    left: 0;
    top: 6px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transition: var(--transition-1);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 50%;
    background-color: currentColor;
    transition: var(--transition-1);
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    right: 0;
    bottom: 0;
  }
}

.burger-word {
  margin-left: 20px;
  margin-top: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 0;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: currentColor;

  b {
    font-weight: inherit;
    transition: var(--transition-1);

    &:first-child {
      display: block;
    }

    &:last-child {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.header-wrap-center {
  position: relative;
  z-index: 0;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -30px -15px;
  }

  li {
    margin: 0 30px 15px;
  }

  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1em;
    color: var(--clr-black);
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.header-wrap-right {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}

.header-phone {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1em;
  margin-right: 30px;
  letter-spacing: .05em;
  color: var(--clr-black);

  svg {
    margin-right: 10px;
    color: inherit;

    path {
      fill: currentColor;
      stroke: currentColor;
    }
  }

  b {
    margin-top: 1px;
  }
}

.header-menu {
  position: fixed;
  z-index: 3;
  inset: 0;
  display: flex;
  background-color: var(--bg-black1);
  will-change: transform;
  transform: translateY(-100%);
  transition: transform .5s;
  transition-delay: 1s;
}

.header-menu-left {
  width: 69%;
}

.header-menu-right {
  width: 31%;
  display: flex;
  flex-direction: column;

  >* {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0%;
    overflow: hidden;
    transition: height 1s;

    >* {
      opacity: 0;
      transition: opacity var(--transition-1);
    }
  }
}


.header-menu-right-top {
  transition-delay: .5s;
  background-color: var(--bg-black3);
}

.header-menu-right-bottom {
  transition-delay: 0s;
  background-color: var(--bg-black2);

  >*:not(.btn) {
    font-size: 22px;
    line-height: 1.4em;
    font-weight: 300;
    color: var(--clr-text2);
    margin-bottom: 20px;
    text-align: center;
  }
}

.open-menu {
  .header-menu {
    transform: translateY(0%);
    transition-delay: 0s;
  }

  .btn-burger:not(:hover) {
    color: var(--clr-white);
  }

  .btn-burger.is-active .burger-word {
    b {
      &:first-child {
        opacity: 0;
        visibility: hidden;
      }

      &:last-child {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .burger {
    i {
      opacity: 0;
    }

    &::before {
      width: 100%;
      top: 6px;
      transform: rotate(45deg);
    }

    &::after {
      width: 100%;
      bottom: 6px;
      transform: rotate(-45deg);
    }
  }


  .header-menu-right-top {
    transition-delay: .4s;
    height: 50%;

    >* {
      opacity: 1;
      transition-delay: 1s;
    }
  }

  .header-menu-right-bottom {
    height: 50%;
    transition-delay: 1.1s;

    >* {
      opacity: 1;
      transition-delay: 1.6s;
    }
  }
}

@media (min-width: 1200px) {
  .btn-burger:hover {
    color: var(--clr-red);

    .burger {

      &::before,
      &::after {
        width: 100%;
      }
    }
  }

  .header-wrap-center {
    a:hover {
      color: var(--clr-red);
    }
  }

  .header-phone:hover {
    color: var(--clr-red);
  }
}

@media (max-width: 1440px) {}

@media (max-width: 1199px) {}

@media (max-width: 767px) {}